@import "/облик/вспомогательный.less";

#chat_container
{
	margin-top: 100px;
	margin-bottom: 100px;
	
	#loading
	{
		color: #afafaf;
		text-align: center;
		margin-bottom: 50px;
		margin-top: 250px;
	}
	
	.send_message
	{
		text-align: center;
		display: none;
	
		.send_message_inner
		{
			text-align: right;
			display: inline-block;
			
			.message
			{
				width: 600px;
				height: 100px;
			}
			
			.send
			{
				margin-top: 10px;
				display: inline-block;
			}
		}
	}
}

ul.chat
{
	display: table;
	width: 100%;
	
	margin: 0;
	padding: 0;

	li
	{
		display: table-row;

		@inter_column_padding: 25px;
		@message_bottom_padding: 26px;
		
		.author, .messages
		{
			display: table-cell;
			padding-bottom: @message_bottom_padding;
		}
		
		.author
		{
			padding-left: 80px;
			padding-right: @inter_column_padding;
			
			.exact_width(20%);
			
			overflow: hidden;
			text-overflow: ellipsis;
			
			text-align: right;
			color: @blue_color;
			
			a
			{
				border: 0;
			}
			
			a:after
			{
				content: "\A";
				white-space: pre;
			}
			
			.picture
			{
				display: inline-block;
				margin-top: 10px;
		
				background-image: url('/картинки/temporary/картинка с навершия.jpg');
				background-repeat: no-repeat;
		
				.beautiful_shadow(0px, 1px, 2px, 3px, 4px, 0px, 0px, 0.2);
		
				width: 48px;
				height: 48px;
			}
		}
		
		.messages
		{
			ul
			{
				display: table;
				width: 100%;
				
				margin: 0;
				padding: 0;
				
				.text, .when
				{
					display: table-cell;
					padding-bottom: @message_bottom_padding;
				}
				
				.text
				{
					padding-left: @inter_column_padding;
					padding-right: @inter_column_padding;
				}
				
				.when
				{
					position: relative;
					
					padding-left: @inter_column_padding;
					padding-right: 80px;
					
					text-align: right;
					color: #afafaf;
					
					font-size: 20px;
					top: -3px;
				}
			}
		}
	}
}

#chat_block
{
	[type=loading], [type=loading_more], [type=error], [type=loading_more_error]
	{
		text-align: center;
		margin-bottom: 50px;
	}
	
	[type=loading_more], [type=loading_more_error]
	{
		margin-top: 50px;
	}
	
	[type=loading], [type=error]
	{
		margin-top: 150px;
	}
}