.bundle
dump.rdb
logs/*.log
configuration/windows/configuration.private.coffee
code/scala/classes/*
static resources/compressed
загруженное/книги/*
загруженное/читальня/разделы/*
загруженное/временное/*
загруженное/люди/*
node_modules/fibers
node_modules/sync
node_modules/mongodb
node_modules/forever
node_modules/socket.io-client
