{{if link}}
	<a
{{else}}
	<div
{{/if}}
		class="user_icon {{if smaller}} smaller {{else}} {{if a_bit_smaller}} a_bit_smaller {{else}} small {{/if}} {{/if}}">
		
		{{if interactive}}
			<div class="user_online_picture_glow"></div>
		{{/if}}
		
		<div class="picture" title="${имя}">
			<img class="real_picture"
				{{if avatar_version}}
					src="/загруженное/люди/${id}/картинка/{{if smaller}}мелкая.png{{else}}{{if a_bit_smaller}}чуть меньше.png{{else}}маленькая.png{{/if}}{{/if}}?version=${avatar_version}"
				{{else}}
					src="/картинки/avatar/{{if smaller}}мелкая.png{{else}}{{if a_bit_smaller}}чуть меньше.png{{else}}маленькая.png{{/if}}{{/if}}"
				{{/if}}
			/>
					
			{{if interactive}}
				<div class="away"></div>
			{{/if}}
		</div>
	
{{if link}}
	</a>
{{else}}
	</div>
{{/if}}

{{if interactive}}
	<div class="popup_menu_container popup_panel_container">
		<div class="popup_menu popup_panel">
			<!--<span class="call">Позвать</span>-->
		</div>
	</div>
{{/if}}