<div class="user_icon {{if smaller}} smaller {{else}} small {{/if}}">
	<div class="user_offline_picture_glow"></div>
	<div class="user_online_picture_glow"></div>
	<div class="picture" title="${имя}">
		<img class="real_picture"
			{{if avatar_version}}
				src="/загруженное/люди/${id}/картинка/{{if smaller}}мелкая{{else}}маленькая{{/if}}.jpg?version=${avatar_version}"
			{{else}}
				src="/картинки/avatar/{{if smaller}}мелкая{{else}}картинка с навершия{{/if}}.jpg"
			{{/if}}
		/>
		
		{{if interactive}}
			<div class="away"></div>
		{{/if}}
	</div>
</div>

{{if interactive}}
	<div class="popup_menu_container popup_panel_container">
		<div class="popup_menu popup_panel">
			<!--<span class="call">Позвать</span>-->
		</div>
	</div>
{{/if}}