@import "/облик/вспомогательный.less";

.visual_editor_tools
{
	ul
	{
		li
		{
			.css_transition(200ms);
			
			@hover_glow_color: #8d0031;
			@hover_text_color: #fff2f7;
			
			@active_glow_color: #cb0026;
			@active_text_color: #ffe3e8;
			
			&:hover
			{
				color: @hover_text_color !important;
				border-color: @hover_text_color !important;
				text-shadow: 0px 0px 20px @hover_glow_color;
			}
			
			&.disabled:hover
			{
				text-shadow: none;
			}
			
			&:active
			{
				color: @active_text_color !important;
				border-color: @active_text_color !important;
				text-shadow: 0px 0px 20px @active_glow_color;
			}
		}
	}
}

.visual_editor_tools
{
	ul
	{
		li
		{
			font-size: 26px;
		}
	}
}

.visual_editor_tools
{
	ul.main_tools
	{
		li
		{
			&.text_align_left, &.text_align_center, &.text_align_right, &.text_align_justify
			{
				margin-left: 5px;
				margin-right: 5px;
				
				&.text_align_justify
				{
					margin-right: 15px;
				}
				
				 > *
				 {
					position: relative;
					margin-top: -12px;
					top: 13px;
					
					width: 40px;
					height: 40px;
				 }
			}
			
			&.text_align_left > *
			{
				background-image: url('/картинки/писарь/снасти/кнопки/выравнивание содержимого влево.png');
			}
			
			&.text_align_center > *
			{
				background-image: url('/картинки/писарь/снасти/кнопки/выравнивание содержимого по середине.png');
			}
			
			&.text_align_right > *
			{
				background-image: url('/картинки/писарь/снасти/кнопки/выравнивание содержимого вправо.png');
			}
			
			&.text_align_justify > *
			{
				background-image: url('/картинки/писарь/снасти/кнопки/выравнивание содержимого по ширине.png');
			}
			
			&.heading
			{
				font-family: @headings_font;
			}
			
			&.subheading
			{
				font-family: @headings_font;
				border-bottom-style: solid;
				border-bottom-width: 1px;
				border-bottom-color: white;
			}
			
			&.paragraph
			{
				font-family: @textual_font;
			}
			
			&.bold
			{
				font-weight: bold;
			}
			
			&.italic
			{
				font-style: italic;
			}
			
			&.link
			{
				font-family: @labels_font;
				.hyperlink();
				color: white;
				border-color: white;
			}
			
			&.citation
			{
				font-style: italic;
			}
			
			&.citation:before
			{
				content: '«';
			}
			
			&.citation:after
			{
				content: '»';
			}
			
			&.list > *
			{
				position: relative;
				margin-top: -12px;
				top: 11px;
				
				background-image: url('/картинки/писарь/снасти/кнопки/список.png');
				width: 40px;
				height: 40px;
			}
			
			&.picture > *
			{
				position: relative;
				margin-top: -12px;
				top: 11px;
				
				background-image: url('/картинки/писарь/снасти/кнопки/картинка.png');
				width: 40px;
				height: 40px;
			}
			
			&.undo > *, &.redo > *
			{
				position: relative;
				margin-top: -10px;
				top: 9px;
			
				width: 36px;
				height: 36px;
				
				-webkit-transition: all 200ms ease-in-out;
				-moz-transition: all 200ms ease-in-out;
			}
	
			&.undo > *
			{
				background-image: url('/картинки/писарь/снасти/кнопки/undo.png');
			}
			
			&.undo > *.disabled, &.redo > *.disabled
			{
				cursor: default !important;
			}
	
			&.redo > *
			{
				background-image: url('/картинки/писарь/снасти/кнопки/redo.png');
			}
			
			&.undo
			{
				margin-right: 0;
			}
			
			&.redo
			{
				margin-left: 0;
			}
		}
	}
	
	ul.additional_tools
	{
		li
		{
			&.code, &.multiline_code, &.source
			{
				> code
				{
					background: none;
					border: 0;
				}
			}
						
			&.subscript sub, &.superscript sup
			{
				font-size: 16px;
			}
						
			&.video > *
			{
				position: relative;
				margin-top: -12px;
				top: 11px;
				
				background-image: url('/картинки/писарь/снасти/кнопки/видео.png');
				width: 40px;
				height: 40px;
			}
			
			&.audio > *
			{
				position: relative;
				margin-top: -12px;
				top: 11px;
				
				background-image: url('/картинки/писарь/снасти/кнопки/аудиозапись.png');
				width: 40px;
				height: 40px;
			}
		}
	}
	
	.more_less_container
	{
		float: right;
		position: relative;
		top: -50px;
		margin-bottom: -50px;
	}
	
	.more, .less
	{
		position: relative;
		
		right: 12px;
		top: 10px;
		
		z-index: 1;
		
		width: 30px;
		height: 30px;
		
		cursor: pointer;
	}
	
	.more
	{
		background-image: url('/картинки/писарь/снасти/кнопки/показать всё.png');
	}

	.less
	{
		display: none;
		background-image: url('/картинки/писарь/снасти/кнопки/скрыть разширенное.png');
	}
}

.firefox .visual_editor_tools .subscript sub
{
	position: relative;
	top: -8px;
}

.webkit .visual_editor_tools .subscript sub
{
	position: relative;
	top: -2px;
}

.webkit .visual_editor_tools .superscript sup
{
	position: relative;
	top: -2px;
}

.visual_editor_hyperlink_window
{
	.icon
	{
		width: 128px;
		height: 128px;

		background-image: url('/картинки/писарь/снасти/ссылка.png');
	}
}

.visual_editor_image_source_window
{	
	input[name="url"]
	{
		width: 570px;
	}
	
	.icon
	{
		width: 128px;
		height: 128px;

		background-image: url('/картинки/писарь/снасти/картинка.png');
		
		padding-right: 46px;
	}
	
	.float
	{
		> [value="left"], > [value="none"], > [value="right"]
		{
			display: inline-block;
			
			width: 180px;
			height: 120px;
			
			margin-left: 20px;
			margin-right: 20px;
			
			margin-top: 20px;
		}
		
		> [value="left"]
		{
			margin-left: 0;
			
			background-image: url('/картинки/писарь/снасти/обтекание картинки текстом/картинка слева.png');
		}
		
		> [value="none"]
		{
			background-image: url('/картинки/писарь/снасти/обтекание картинки текстом/картинка как обычно.png');
		}
		
		> [value="right"]
		{
			margin-left: 0;
			
			background-image: url('/картинки/писарь/снасти/обтекание картинки текстом/картинка справа.png');
		}
	}
}

.visual_editor_formula_window
{
	.icon
	{
		width: 128px;
		height: 128px;

		background-image: url('/картинки/писарь/снасти/формула.png');
	}
	
	textarea[name="formula"]
	{
		height: 110px;
		width: 430px;
	}
	
	.display
	{
		> [value="inline"], > [value="block"]
		{
			display: inline-block;
			
			width: 220px;
			height: 100px;
			
			margin-left: 20px;
			margin-right: 20px;
			
			margin-top: 20px;
		}
		
		> [value="inline"]
		{
			margin-left: 0;
			
			background-image: url('/картинки/писарь/снасти/обтекание формулы текстом/формула в строке.png');
		}
		
		> [value="block"]
		{
			margin-left: 0;
			
			background-image: url('/картинки/писарь/снасти/обтекание формулы текстом/формула вне строки.png');
		}
	}
}

.visual_editor_video_window
{
	.icon
	{
		width: 128px;
		height: 128px;

		background-image: url('/картинки/писарь/снасти/видео.png');
	}
	
	.main_content form input[type="text"]
	{
		width: 550px;
	}
}

.visual_editor_audio_window
{
	.icon
	{
		width: 128px;
		height: 128px;

		margin-left: 5px;
		padding-right: 50px;

		background-image: url('/картинки/писарь/снасти/аудио.png');
	}
	
	.main_content form input[type="text"]
	{
		width: 550px;
	}
	
	form
	{
		> label
		{
			margin-top: 46px;
		}
		
		> label[for="url"]
		{
			margin-top: 0;
		}
	}
}

.visual_editor_edit_source_window
{
	.icon
	{
		width: 128px;
		height: 128px;

		background-image: url('/картинки/писарь/снасти/html.png');
		
		padding-left: 10px;
		padding-right: 0px;
	}
	
	.main_content
	{
		padding: 0px !important;
		
		> form
		{
			padding: 0 !important;
			
			&, .xml_editor, textarea[type="text"]
			{
				width: 100%;
				height: 100%;
			}
			
			textarea[type="text"]
			{
				margin-top: 0;
				padding: 0;
				border: 0;
			}
		}
	}
}

article[contenteditable=true] [type=hyperlink],
article[contenteditable=true] [type=picture],
article[contenteditable=true] [type=formula],
article[contenteditable=true] [type=audio],
article[contenteditable=true] [type=video]
{
	cursor: pointer;
}