@import "/облик/вспомогательный.less";

@article_side_padding: 80px;
@tools_panel_height: 51px;

#article_editor_tools_container
{
	position: relative;

	.exact_height(2 * @tools_panel_height);
	
	margin-top: 30px;
	
	margin-left: -@article_side_padding;
	margin-right: -@article_side_padding;
	
	overflow: hidden;
}

#article_editor_tools
{
	width: 100%;
		
	display: none;

	position: absolute;
	top: 0;
	left: 0;
	
	ul
	{
		width: 100%;
	
		background-color: #3f3f3f;
		color: #efefef;
	
		padding-left: 10px;
		padding-right: 10px;
		
		margin: 0;
		
		text-align: center;
		
		.exact_height(@tools_panel_height);

		overflow: hidden;
		
		li
		{
			display: inline-block;
			padding-top: 5px;
			
			margin-left: 15px;
			margin-right: 15px;
	
			font-size: 26px;

			.css_transition(200ms);				
			
			@hover_glow_color: #8d0031;
			@hover_text_color: #fff2f7;
			
			@active_glow_color: #cb0026;
			@active_text_color: #ffe3e8;
			
			cursor: pointer;
			
			&:hover
			{
				color: @hover_text_color !important;
				border-color: @hover_text_color !important;
				text-shadow: 0px 0px 20px @hover_glow_color;
			}
			
			&:active
			{
				color: @active_text_color !important;
				border-color: @active_text_color !important;
				text-shadow: 0px 0px 20px @active_glow_color;
			}
			
			&.disabled
			{
				cursor: default;
				opacity: 0.5;
			}
		}
	}

	&.sticky
	{
		position: fixed;
		width: 100%;
		margin: 0;
	}
	
	#additional_tools
	{
		position: absolute;
		top: -@tools_panel_height;
		left: 0;
		
		li
		{
			&.code
			{
				font-weight: bold;
			}
			
			&.subscript sub
			{
				position: relative;
				top: -8px;
			}
			
			&.subscript sub, &.superscript sup
			{
				font-size: 16px;
			}
		}
	}
	
	#additional_tools_container
	{
		position: relative;
		z-index: 0;
	}
		
	ul#main_tools
	{
		position: relative;
		z-index: 1;
		
		li
		{
			&.heading
			{
				font-family: @headings_font;
			}
			
			&.subheading
			{
				font-family: @headings_font;
				border-bottom-style: solid;
				border-bottom-width: 1px;
				border-bottom-color: white;
			}
			
			&.paragraph
			{
				font-family: @textual_font;
			}
			
			&.link
			{
				font-family: @headings_font;
				.hyperlink();
				color: white;
				border-color: white;
			}
			
			&.citation
			{
				font-style: italic;
			}
			
			&.citation:before
			{
				content: '«';
			}
			
			&.citation:after
			{
				content: '»';
			}
			
			&.list > span
			{
				position: relative;
				margin-top: -12px;
				top: 11px;
				
				background-image: url('/картинки/на страницах/заметка/список.png');
				width: 40px;
				height: 40px;
			}
			
			&.picture > span
			{
				position: relative;
				margin-top: -12px;
				top: 11px;
				
				background-image: url('/картинки/на страницах/заметка/картинка.png');
				width: 40px;
				height: 40px;
			}
			
			&.undo > span, &.redo > span
			{
				position: relative;
				margin-top: -10px;
				top: 9px;
			
				width: 36px;
				height: 36px;
				
				-webkit-transition: all 200ms ease-in-out;
				-moz-transition: all 200ms ease-in-out;
			}

			&.undo > span
			{
				background-image: url('/картинки/на страницах/заметка/undo.png');
			}
			
			&.undo > span.disabled, &.redo > span.disabled
			{
				cursor: default !important;
			}

			&.redo > span
			{
				background-image: url('/картинки/на страницах/заметка/redo.png');
			}
			
			&.undo
			{
				margin-right: 0;
			}
			
			&.redo
			{
				margin-left: 0;
			}
		}
	}
	
	.more, .less
	{
		position: absolute;
		right: 12px;
		top: 10px;
		
		z-index: 1;
		
		width: 30px;
		height: 30px;
	}
	
	.more
	{
		background-image: url('/картинки/на страницах/заметка/показать всё.png');
	}

	.less
	{
		display: none;
		background-image: url('/картинки/на страницах/заметка/скрыть разширенное.png');
	}
}

#content.article
{
	padding-left: @article_side_padding;
	padding-right: @article_side_padding;
	
	padding-top: 40px;
	padding-bottom: 40px;

	> .edit
	{
		float: right;
		margin-top: 105px;
		padding-left: 40px;
		
		background-image: url('/картинки/на страницах/читальня/править.png');
		background-position: left top;
		background-repeat: no-repeat;
		background-color: transparent;
	}
	
	article
	{
		font-family: @textual_font;

		font-size: @textual_font_size;
		line-height: @textual_line_height;

		h1:focus, section:focus
		{
			outline: 0px solid transparent;
		}
		
		.citation
		{
			padding-left: 100px;
			
			padding-top: 49px;
			padding-bottom: 58px;
		
			.text:before
			{
				content: '«';
			}
			
			.text:after
			{
				content: '»';
			}
			
			.author
			{
				margin-left: 100px;
				text-align: right;
				white-space: nowrap;
				text-overflow: ellipsis;
				
				/* font-family: @headings_font; */
				font-size: 26px;
				line-height: 40px;
			}
		}
		
		.picture
		{
			/* .beautiful_shadow(0px, 4px, 20px, 8px, 12px, 8px, 0px, 0.1); */
			/*.beautiful_shadow(0px, 0px, 4px, 4px, 4px, 4px, 0px, 1, 0, 120, 255); */
			
				
			&.cursor
			{
				border-width: 4px;
				border-color: #0078ff;
				border-style: solid;
			}
		}
		
		p
		{
			text-indent: @paragraph_indent;
			/* text-align: justify; */
		}

		a
		{
			color: inherit;
			border-bottom-width: 0;
		}

		a:hover
		{
			.hyperlink();
			
			/*
			-webkit-transition: color .25s linear;
			-moz-transition: color .25s linear;
			transition: color .25s linear;
			*/
		}

		h1
		{
			font-size: 50px;
		}

		h2
		{
			font-size: 40px;

			border-bottom-width: 1px;
			border-bottom-color: black;
			border-bottom-style: solid;
		}
		
		h1, h2, a.reference
		{
			font-family: @headings_font;
		}
			
		.references
		{
			list-style: none;
			
			li
			{
				margin-bottom: 20px;
				
				a
				{
					.hyperlink;
					
					display: inline-block;
				}
			}
		}
		
		h1[contenteditable="true"]
		{
			cursor: text;
		}
			
		section[contenteditable="true"]
		{
			h2
			{
				cursor: text;
			}
		}
	}
}

body[mode="правка"] #content.article article a
{
	.hyperlink();
}

#edit_mode_actions
{
	display: none;

	width: 100%;
	
	background-color: #d2d2d2;
	
	position: fixed;
	bottom: 0;
	left: 0;
	
	overflow: hidden;
	padding-top: 8px;
	
	text-align: center;
	
	.cancel, .done
	{
		display: inline-block;
	}
	
	.cancel
	{
		margin-left: 50px;
	}
}

#edit_mode_actions, #edit_mode_actions_placeholder
{
	height: 66px;
}