#id_card_block
{
	#id_card
	{
		margin-top: 150px;
	}
	
	[type=loading], [type=error]
	{
		text-align: center;
		margin-bottom: 50px;
		margin-top: 250px;
	}
}

#content
{
	> .error
	{
		text-align: center;
		margin-bottom: 50px;
		margin-top: 250px;
	}
}

body[mode="правка"] .real_picture
{
	cursor: pointer;
}

.minor_info
{
	width: 600px;
	
	display: block;
	
	margin-left: auto;
	margin-right: auto;
	
	margin-top: 80px;
	margin-bottom: 20px;
	
	.info
	{
		margin-bottom: 40px;

		font-size: 26px;
	
		dt
		{
			display: block;
			color: #7D7B7B;
		}
		
		dd
		{
			display: block;
			margin-left: 20px;
		}
	}
	
	.left, .right
	{
		width: 50%;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.business_card .uploading_picture
{
	display: none;

	position: absolute;  
	top: 0;
	left: 0;

	width: 120px;
	height: 70px;
	
	background-color: #7f7f7f;
	color: #ffffff;
	
	text-align: center;
	padding-top: 50px;
	
	font-size: 18px;
}