<!-- ID card -->
<article id="id_card" class="high business_card" >
	<!-- gender -->
	<!-- <div type="gender"></div> -->
	
	<!-- main -->
	<div class="left high" style="display: table">
		<div style="display: table-row">
			<div style="display: table-cell; height: 100%">
		
				<section class="left">
					<!-- who is -->
					<div type="name"><property name='name'>Николай</property></div>
					<div type="summary"><property name='summary'>участник</property></div>
					
					<!-- personal info -->
					<div style="display: table" type="personal_info">
						<div style="display: table-row">
							<!-- photo -->
							<div class="bottom" style="display: table-cell">
								<div type="photo"></div>
							</div>
							
							<!-- miscellaneous info -->
							<div class="bottom" style="display: table-cell" type="info">
								
								<!-- gender -->
								<div type="gender_#{gender}"></div>
	
								<div type="info_spacer"></div>
	
								<!-- origin -->
								<div type="info_type">откуда</div>
								<div type="info_value"><property name='origin'>город</property></div>
								
								<div type="info_spacer"></div>
								
								<!-- interests -->
								<div type="info_type">увлечения</div>
								<div type="info_value">...</div>
							</div>
						</div>
					</div>						
				</section>
					
			</div>
			
			<!-- last column of data -->
			<div type="last_column">
				<!-- person's mood -->
				<div type="mood"></div>	
			
				<!-- Sobranie logo -->
				<div type="small_logo"></div>		
			</div>
			
		</div>						
	</div>
	
</article>