.markup
{
	white-space: pre-wrap;
	
	.hint
	{
		color: #7f7f7f !important;
		
		&.should_be_invisible
		{
			color: transparent !important;
		}
	}
	
	h1:focus
	{
		outline: 0px solid transparent;
	}
	
	h1
	{
	}
	
	p
	{
		clear: both;
	}
	
	p:first-child
	{
		margin-top: 0;
	}
	
	p:last-child
	{
		margin-bottom: 0;
	}
	
	.citation
	{
		&:after
		{
			content: "";
			display: table;
			clear: both;
		}
	
		.text:before
		{
			content: '«';
		}
		
		.text:after
		{
			content: '»';
		}
		
		.text
		{
			font-family: Bliss Pro;
			font-style: italic;
			
			display: table-cell;
		}
		
		.author
		{
			float: right;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 60%;
		}
	}
	
	.tex
	{
	}
	
	.video_player
	{
		text-align: center;
	}
	
	p
	{
		> *
		{
			text-indent: 0;
		}
	}
	
	ul > li
	{
		list-style-type: disc;
	}

	a
	{
	}

	h1
	{
	}

	h2
	{
		border-bottom-width: 1px;
		border-bottom-color: #7f7f7f;
		border-bottom-style: solid;
	}
	
	a.reference
	{
		font-family: "Whitney";
	}
	
	.references
	{
		list-style: none;
		padding: 0;
		
		li
		{
			a
			{
				display: inline-block;
			}
		}
	}
	
	h1[contenteditable="true"]
	{
		cursor: text;
	}
		
	section[contenteditable="true"]
	{
		h2
		{
			cursor: text;
		}
	}
	
	[type="video"]
	{
		border-style: solid;
		border-color: #7F7F7F;
		border-width: 1px;

		background-color: black;
		
		border-radius: 4px;
	}
	
	[type="picture"]
	{
		border-style: solid;
		border-color: #7F7F7F;
		border-width: 1px;
		
		border-radius: 4px;
	}

	[type="picture"]
	{
		margin-top: 0;
	}
	
	.video_player
	{
	}
}