/**
 * Button
 * 
 * This script styles the buttons. 
 * You can edit this file to style to buttons.
 * 
 * @author Kuchumov Nikolay
 * @email kuchumovn@gmail.com
 * @github kuchumovn
 */

.button .button_contents, .button_ready .button_contents
{
	text-shadow: 0px 1px 0px #ffffff;
}

.button_contents span
{
	padding-top: 8px;
}

.button_pushed .button_contents
{
	text-shadow: 0px 1px 0px #dfdfdf;
}

.button_pushed .button_contents span
{
	padding-top: 9px;
}

.buttons
{
	-webkit-user-select: none;
	-moz-user-select: none;	
}

.caution_button
{
	color: #4f4f4f;
}

.caution_button_ready, .caution_button_pushed
{
	color: #ad1c00;
}

.button_contents
{
	line-height: normal
	line-height: 51px;	
	
	font-family: Tahoma;
	font-size: 28px;
	color: #4f4f4f;
}

.button_contents:after
{
	content: ""; 
	display: block; 
	height: 0; 
	clear: both;
}

.minor_button
{
	cursor: pointer;
}
