/**
 * Panel
 * 
 * This style sheet styles the panel. 
 * 
 * Distributed under GNU General Public License
 * http://www.gnu.org/licenses/gpl.html
 * 
 * @author Kuchumov Nikolay
 * @email kuchumovn@gmail.com
 * @github kuchumovn
 */

#panel
{
	margin: 0;
	padding: 0;
	padding-left: 15px;

	height: 60px;

	background-image: url('../images/panel/background.png');
	background-repeat: repeat-x;

	-webkit-box-shadow: 0px 1px 2px #7f7f7f;
	-moz-box-shadow: 0px 1px 2px #7f7f7f;
	-o-box-shadow: 0px 1px 2px #7f7f7f;
	box-shadow: 0px 1px 2px #7f7f7f;

	-webkit-user-select: none;
	-moz-user-select: none;
}

#panel_menu
{
	height: 100%;

	list-style: none;
	text-indent: 0;
}

#panel_menu, #panel_menu li
{
	margin: 0;
	padding: 0;

	display: inline;
}

#panel_menu li a
{
	display: block;
	float: left;
	
	margin-left: 2px;
	margin-right: 2px;
	
	width: 60px;
	height: 60px;
}

#panel_menu em 
{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;

	position: absolute;
	top: 86px;
	left: 0px;

	text-align: center;
	z-index: 2;

	display: none;

	font-family: Tahoma;
	font-size: 18pt;
	
	background-color: #dfdfdf;
	
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	
	-webkit-box-shadow: 0px 2px 6px rgba(180, 180, 180, 0.5);
	-moz-box-shadow: 0px 2px 6px rgba(180, 180, 180, 0.5);
	-o-box-shadow: 0px 2px 6px rgba(180, 180, 180, 0.5);
	box-shadow: 0px 2px 6px rgba(180, 180, 180, 0.5);
}

#panel_logo
{
	margin: 0;
	margin-right: 12px;

	float: right;
}

a.image
{
	border: 0;
	display: block;
}
