/**
 * Slider
 * 
 * This script styles the slider. 
 *
 * Distributed under GNU General Public License
 * http://www.gnu.org/licenses/gpl.html
 * 
 * @author Kuchumov Nikolay
 * @email kuchumovn@gmail.com
 * @github kuchumovn
 */

.slider 
{
	margin: 0 auto;

	overflow: hidden;
	position: relative;
}

.slider .slide 
{
	float: left;
	margin: 0 auto;
}