@import "/облик/вспомогательный.less";

#content
{
	margin-top: 100px;
	
	> form
	{
		width: 100%;
		
		.include_padding_in_width();
		
		padding-left: 80px;
		padding-right: 80px;

		> label
		{
			display: block;
			margin-bottom: 10px;
		}
		
		> .title
		{
			width: 100%
		}
		
		margin-bottom: 100px;
	}
	
	> .compose_message
	{
		.rich_formatting
		{
			font-family: Whitney;
			font-size: 30px;
			line-height: 56px;
			
			p
			{
				margin: 0;
				text-indent: 0;
			}
		}
	}
}