@import "/облик/вспомогательный.less";

.new_communication_page
{
	margin-top: 100px;
	
	> form
	{
		width: 100%;
		
		.include_padding_in_width();
		
		padding-left: 80px;
		padding-right: 80px;

		> label
		{
			display: block;
			margin-bottom: 10px;
		}
		
		> .title
		{
			width: 100%
		}
		
		margin-bottom: 100px;
	}
	
	> .compose_message
	{
		.markup
		{
			margin-left: 100px;
		}
	}
}