@import "/облик/вспомогательный.less";

.registration_page
{
	p
	{
		text-indent: @paragraph_indent;
		
		> *
		{
			text-indent: 0;
		}
	}
	
	margin-bottom: 100px;
	padding-left: 40px;
	
	h1
	{
		margin-top: 90px;
		margin-bottom: 60px;
	}
}