<!DOCTYPE html>
	
<html lang="ru">
	<head>
		<meta name="author" content="kuchumovn@gmail.com"> 
		<meta name="designer" content="kuchumovn@gmail.com">
		<meta name='copyright' content='2010-2011 Николай Кучумов' />
		<meta name="description" content="Собрание - необычная общественная сеть"> 
		
		<meta charset="utf-8" />

		<title>Собрание</title>

		<!-- Coffee Script 0.9.4 -->
		<!--<script src="/javascripts/coffee script/coffee-script.js"></script>--Ю
		<!--<script type="text/coffeescript" src="javascripts/coffee script/"></script>-->

		<!-- jQuery -->
		<script src="/javascripts/jquery/jquery-1.6.4.min.js"></script>
		<script src="/javascripts/jquery/jquery.disable.text.select.js"></script>
		<script src="/javascripts/jquery/jquery.tmpl.js"></script>
		<script src="/javascripts/jquery/jquery.extension.js"></script>

		<!-- MooTools -->
		<script src="/javascripts/mootools/core-1.3.js"></script>
		<script src="/javascripts/mootools/more.js"></script>

		<!-- animation -->
		<script src="/javascripts/движение.js"></script>

		<!-- jQuery animation easing functions -->
		<!-- http://vremenno.net/examples/easingPlugin/ -->
		<script src="/javascripts/jquery/jquery.easing.min.1.3.js"></script>

		<!-- jQuery i18n -->
		<script src="/javascripts/jquery/jquery.i18n.js"></script>

		<!-- jQuery glow -->
		<script src="/javascripts/jquery/jquery.glow.js"></script>

		<!-- jQuery color -->
		<script src="/javascripts/jquery/jquery.color.min.js"></script>
		
		<!-- jQuery hover attribute -->
		<script src="/javascripts/jquery/jquery.hoverattribute.js"></script>
		
		<!-- jQuery text-shadow -->
		<script src="/javascripts/jquery/jquery.text-shadow.js"></script>

		<!-- jQuery background-position-x/y -->
		<script src="/javascripts/jquery/jquery.background.position.x.y.js"></script>

		<!-- Russian language
		<script src="/javascripts/перевод/generic.ru.json"></script>
		<script src="/javascripts/перевод/page/welcome.ru.json"></script>
		 -->

		<!-- jQuery watermark input -->
		<!--<script src="/javascripts/jquery/jquery.watermarkinput.js"></script>-->
		 
		<!-- generic -->
		<script src="/javascripts/dom tools.js"></script> 
		<script src="/javascripts/многоязычие.js"></script> 
		<script src="/javascripts/клавиши.js"></script> 
		<script src="/javascripts/прокрутка.js"></script> 
		<script src="/javascripts/снасти.js"></script> 
		<script src="/javascripts/общее.js"></script> 
		<link rel="stylesheet/less" type="text/css" href="/облик/общее.css">
		
		<!-- loading indicator -->
		<script src="/javascripts/облик/уведомление о деятельности.js"></script> 

		<!-- dialog window -->
		<script src="/javascripts/облик/окошко/окошко.js"></script> 
		<script src="/javascripts/облик/окошко/z indexer.js"></script> 
		<script src="/javascripts/облик/окошко/veil.js"></script> 
		<script src="/javascripts/облик/окошко/veiler.js"></script> 
		<script src="/javascripts/облик/окошко/initializer.js"></script> 
		<link rel="stylesheet/less" href="/облик/окошко.css"/>

		<!-- buttons -->
		<script src="/javascripts/облик/кнопки/кнопка.js"></script> 
		<script src="/javascripts/облик/кнопки/text button.js"></script> 
		<script src="/javascripts/облик/кнопки/text button skins.js"></script> 
		<script src="/javascripts/облик/кнопки/image button.js"></script> 
		<script src="/javascripts/облик/кнопки/image chooser.js"></script> 

		<!-- button styling -->
		<link rel="stylesheet/less" href="/облик/кнопки/generic.css"/>
		<link rel="stylesheet/less" href="/облик/кнопки/minor.css"/>
		<link rel="stylesheet/less" href="/облик/кнопки/caution.css"/>

		<script src="/javascripts/облик/уведомления.js"></script> 
		<link rel="stylesheet/less" href="/облик/уведомления.css"/>

		<!-- panel -->
		<script src="/javascripts/облик/навершие.js"></script> 
		<link rel="stylesheet/less" href="/облик/навершие.css"/>

		<script src="/javascripts/облик/form.js"></script> 

		<!-- slider -->
		<script src="/javascripts/облик/slider/slider.js"></script> 
		<script src="/javascripts/облик/slider/form_slider.js"></script> 
		<link rel="stylesheet/less" href="/облик/slider.css"/>

		<script src="/javascripts/на страницах/основа.js"></script> 
		<link rel="stylesheet/less" href="/облик/окошко входа.css"/>

		<!-- browser checker -->
		<script src="/javascripts/проверка обозревателя.js"></script> 
			
		<script>
			$(function()
			{
				loading_page()
				
				panel.initialize()
				initialize_page()	
				
				//var delayed = function() 
				//{
					//center_horizontally()
					//center_vertically()
					page_loaded()
				//}

				//delayed.delay(1)
				
				check_browser_support()
				
				$('.non_selectable').disableTextSelect()
				$('#page_header').disableTextSelect()
				$('label').disableTextSelect()
			})
		</script>
		
		<!-- стили этой страницы -->
		<link rel="stylesheet/less" href="/облик/страницы/${название}.css"/>

		<script src="/javascripts/режимы.js"></script> 
		 
		 <!-- не убирается в файл, так как less обрабатывает стили при загрузке страницы, поэтому был бы виден мусор -->
		 <style>
			#loading_screen
			{
				position: absolute;
				top: 0;
				left: 0;
				
				z-index: 1000;
				
				width: 100%;
				height: 100%;
				
				background-color: #ffffff;
			}
		</style>
		 
		<link rel="shortcut icon" href="/картинки/значок.png">
	</head>

	<body>
		<div id="loading_screen"></div>
		
		<aside>
			<nav>
				<!-- top menu panel -->
				<div id="panel">
					<!-- the menu -->
					<ul id="panel_menu">
						<li name="reading" link="читальня">Читальня</li>
						<li name="people" link="люди">Люди</li>
						<li name="help" link="помощь">Помощь</li>
						{{if пользователь}}
							<li><span class="divider"></span></li>
							<li name="болталка" link="болталка">Болталка</li>
							<li name="беседы" link="беседы">Беседы</li>
							<li name="mail" link="почта">Почта</li>
							<li name="книги" link="книги">Книги</li>
							<li name="settings" link="настройки">Настройки</li>
						{{/if}}
					</ul>
		
					<!-- logo -->
					<a id="logo" href="/"><img id="panel_logo" src="/картинки/навершие/logo.png"/></a>
				</div>
			</nav>
		</aside>
	
		<div class="centered_on_the_panel">
			{{if пользователь}}
				<div class="authenticated_user">
					<div class="photo"></div>
					<div class="info">
						<a href="#" class="name">${пользователь.имя}</a>
						<a href="#" class="logout">Выйти</a>
					</div>
				</div>
			{{else}}
				<div class="registration_hint non_selectable">
					Если вы пропишетесь, вы сможете писать новые статьи и править текущие, <br/>
					а также общаться и выражать своё мнение.
					<div class="actions">
						<a href="/прописка" class="register">Прописаться</a>
						или
						<a href="#" class="enter">Войти</a>
					</div>
				</div>
			{{/if}}
		</div>
		
		{{html содержимое}}

		<!-- javascript'ы этой страницы -->
		<script src="/javascripts/на страницах/${название}.js"></script> 
		
		<!-- AJAX loading window -->
		<div id="loading_indicator" class="collapsed non_selectable" title="Теперь ждите...">
			<div class="container" style="text-align: center">
				<a class="loading_indicator_image_source image" href="" target="_blank">
					<img class="loading_indicator_image" src=""/>
				</a>
			</div>
		</div> 
			
		<!-- Unsupported browser popup -->
		<div id="unsupported_browser_warning" class="collapsed no_word_carrying non_selectable" title="Здравствуйте">
			<div class="translated text" label="page, dialog 'unsupported browser', content"></div>
			
			<br/>
			<br/>
			
			<div class="centered">
				<a class='image' style="display: block; float: left; margin-right: 200px" href="http://www.google.com/chrome?hl=ru"><img src="/картинки/на страницах/welcome/chrome.png"/></a>
				<a class='image' style=" float: left" href="http://www.mozilla-europe.org/ru/firefox/"><img src="/картинки/на страницах/welcome/firefox.png"/></a>
			</div>
		</div>
			
		<!-- Вход -->
		<div id="enter_window" class="collapsed no_word_carrying" title="Вход">
			<!-- пароль -->
			<div class="password">
				<div class="icon"></div>
				<form>
					<label for="пароль">Введите свой пароль</label>
					<input name="пароль" class="field" type="text" validation="вход.пароль"/>
				</form>
			</div>
			
			<!-- начинаются кнопки -->
			<div class="pre_buttons"></div>
	
			<!-- кнопки -->
			<div class="no_word_carrying dialog_container buttons">
				<!-- отмена -->
				<span class="cancel left" type="minor" styles="generic, minor, caution">
					<span type="icon" icon="cross" width="30" height="30" top_offset="5"></span>
					<label>Отмена</label>
				</span>
	
				<!-- войти -->			
				<span class="enter right" type="dark generic" styles="generic">
					<label>Войти</label>
					<span type="icon" icon="right arrows" width="40" height="30" top_offset="7"></span>
				</span>
			</div>
		</div>
		
		<footer></footer>

		<!-- stretches the gradient background to the height of the entire page -->
		<!--<div id="background_stretcher" class="non_selectable"></div>-->
	</body>
	
	<!-- less (css preprocessor) -->
	<script src="/javascripts/less-1.1.4.min.js"></script>
</html>