<article class="business_card">
	<!-- gender -->
	<!-- <div class="gender"></div> -->
	
	<section class="personal_info">
		<!-- who is -->
		<div class="name"><a href="/люди/${$data['адресное имя']}">${имя}</a></div>
		<div class="description">{{if описание}}${описание}{{else}}участник{{/if}}</div>
		
		<!-- avatar -->
		<div class="default_picture">
			<div>
				<div class="real_picture" style="background-image: url('/загруженное/люди/${$data['адресное имя']}/картинка/на личной карточке.jpg')">
				</div>
				
				<form>
					<input type="file" class="upload_new_picture"/>
				</form>
			</div>
		</div>
		
	</section>
	
	<section class="info">					
		<!-- gender -->
		<div class="gender" gender="${пол}"></div>
		
		<div class="clear"></div>
		
		<!-- origin -->
		<div {{if откуда}}{{else}}style="visibility: hidden"{{/if}}>
			<div class="type">откуда</div>
			<div class="value">{{if откуда}}${откуда}{{else}}&nbsp;{{/if}}</div>
		</div>
		
		<div class="spacer"></div>
		
		<!-- interests -->
		<div class="type">увлечения</div>
		<div class="value">...</div>
	</section>
	
	<section class="miscellaneous">
		<!-- person's mood -->
		<div class="mood"></div>	
	
		<!-- Sobranie logo -->
		<!-- <a href="#" class="small_logo"></a> -->
	</section>
</article>