@import "/облик/вспомогательный.less";
@import "/облик/начертания.less";

/* correct Html 5 element styling for old browsers 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section 
{
	display: block;
}
*/

html
{
}

body 
{
	min-height: 100%;
}

html, body
{
	margin: 0;
	padding: 0;
	
	height: 100%;
}

aside
{
	position: relative;
	z-index: 1;
}

body.loading
{
	overflow: hidden;
}
	
html *::selection, html *::-moz-selection, html *::-webkit-selection
{
	color: #ffffff;
	background: #7f7f7f;
}

#page_header
{
	position: absolute;
	top: 0;
	left: 0;
	
	width: 100%;
	
	z-index: 1;
	
	margin: 0;
	margin-top: 3px;
	
	text-align: center;
	text-shadow: 0px 2px 1px #e5e5ee;
	
	cursor: default;
	
	color: #4f4f4f;
	font-size: 45px;	
}

#content
{
	/* min-height: 100%; */
	z-index: 100;
	
	overflow: auto;
}

* html #content 
{
	height: 100%;	
}

.fix_margin_bug, .fix_shadow_margins
{
	overflow: hidden;
}

/*
.middle
{
	position: relative;
}
*/

.table
{
	display: table;

	.row
	{
		display: table-row;

		.cell
		{
			display: table-cell;
		}
	}
}

/*
.middle
{
	vertical-align: middle;
}
*/

html, input
{
	font-family: Whitney;
	font-size: 32px;
	font-weight: normal;
}

.multiline_text
{
	line-height: 48px;
}

html, #content, #background_stretcher
{
	/*
	background-color: #f2f2f2;
	background: -webkit-gradient(radial, 60% 10%, 10, 60% 10%, 1500, from(#ffffff), to(#e5e4e4));
	background-image: -moz-radial-gradient(60% 10% 45deg, circle farthest-side, #ffffff 0%, #e5e4e4 100%);
	*/
}

#background_stretcher
{
	position: absolute;
	left: 0;
	top: 0;

	height: 100%;
	width: 100%;

	z-index: -1;
}

.high
{
	height: 100%;
}

.wide
{
	width: 100%;
}

.bottom
{
	vertical-align: bottom;
}

.centered
{
	margin-left: auto;
	margin-right: auto;
}

div.centered
{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

a.image
{
	border: 0;
	display: block;
}

a
{
	text-decoration: none;

	.hyperlink;
}

a:focus
{
	outline: none;
}

input:focus
{
	outline: none;
}

img
{
	border: 0;
}

.no_word_carrying
{
	white-space: nowrap;
}

div.clear
{
	clear: both;
	font-size: 0;
}

#unsupported_browser_warning
{
	text-align: center;
}

/* input field */

input 
{
	border: none;
	
	&.field
	{
		padding-left: 10px;
		padding-right: 10px;	

		height: 50px;

		border-top-color: #afafaf;
		border-left-color: #bfbfbf;
		border-right-color: #bfbfbf;
		border-bottom-color: #cfcfcf;
		
		border-width: 2px;
		border-style: solid;
		
		background-color: white;
		background-image: url('/картинки/поле ввода/фон.png');
		background-repeat: repeat-x;
		background-position: top;

		-webkit-border-radius: 5px; 
		-moz-border-radius: 5px; 
		border-radius: 5px;
		
		-webkit-transition-property: all;
		-moz-transition-property: all;
		-o-transition-property: all;
		transition-property: all;

		-webkit-transition-duration: 0.5s;
		-moz-transition-duration: 0.5s;
		-o-transition-duration: 0.5s;
		transition-duration: 0.5s;
	}

	&.focusable_field:focus
	{
		background-color: #f2faff;
		border-color: #96c0d8;
		
		-webkit-box-shadow: 0 0 5px rgba(0, 150, 255, 1.0);
		-moz-box-shadow: 0 0 5px rgba(0, 150, 255, 1.0);
		-o-box-shadow: 0 0 5px rgba(0, 150, 255, 1.0);
		box-shadow: 0 0 5px rgba(0, 150, 255, 1.0);	
	}
}

label.error
{
	color: #a50000;
	
	text-shadow: rgba(255, 0, 0, 0.1) 0 0 20px;
}

.non_selectable
{
	-webkit-user-select: none;
	-moz-user-select: none;	
}

.hidden_button_frame
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	opacity: 0;
}

.on_the_right_side_of_the_panel
{
	position: absolute;
	top: 0;
	right: 0;
	
	margin: 0;
	margin-top: 4px;
	margin-right: 14px;
	
	z-index: 1;
}

.centered_on_the_panel
{
	width: 100%;
	position: absolute;
	top: 0;
	
	margin: 0;
	margin-top: 3px;
	
	text-shadow: 0px 2px 1px #e5e5ee;
	
	color: #4f4f4f;
	text-align: center;
}

.centered_on_the_panel > div
{
	text-align: left;
	display: inline-block;
	
	position: relative;
	z-index: 1;	
}

.registration_hint
{
	margin-top: 5px;
	line-height: 22px;

	font-size: 16px;
	vertical-align: top;
	
	cursor: default;

	a
	{
		color: @link_color;
	}

	.actions
	{
		float: right;
	}
}

.authenticated_user
{
	margin-top: 2px;

	@picture_size: 48px;
	
	.picture, .real_picture
	{
		width: @picture_size;
		height: @picture_size;
		
		border-radius: 4px;
	}
			
	.picture
	{
		position: relative;
		display: inline-block;
		
		background-image: url('/картинки/temporary/картинка с навершия.jpg');
		background-repeat: no-repeat;

		border-style: solid;
		border-color: #7f7f7f;
		border-width: 1px;
		
		.beautiful_shadow_3(0px, 1px, 2px, 3px, 4px, 0.2);
		
		.real_picture
		{
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	.info
	{
		display: inline-block;
		vertical-align: top;
		line-height: 16px;
		
		text-align: right;
		margin-top: 5px;
		margin-left: 4px;
		margin-right: 8px;

		font-family: "DIN Round";
		font-size: 20px;
		
		.name
		{
			display: block;
			
			color: #5f5f5f;
			
			border: 0;
		}

		.logout
		{
			display: inline-block;

			margin-top: 7px;
			
			color: #4a798f;
			border-color: #4a798f;
			line-height: 21px;
			border: 0;
		}
	}
}

.textual, .textual_content
{
	font-family: @textual_font;
	font-size: @textual_font_size;
	line-height: @textual_line_height;
}

.textual_content
{
	margin-top: 60px;
	padding-left: 40px;
	padding-right: 40px;
}

h1
{
	font-size: 58px;
}

h2
{
	font-size: 50px;
}

h1, h2, h3, h4, h5, h6
{
	cursor: pointer;
}

.textual_content, .article article
{
	h1, h2, h3, h4, h5, h6
	{
		color: #4f4f4f;
	}
}

h1, h2, h3, h4, h5, h6
{
	font-family: @headings_font;
	font-weight: normal;
}

.collapsed
{
	display: none;
}

.sticky
{
	position: fixed !important;
	top: 0;
	left: 0;
	
	/* .css_transition(200ms, top); */
}

.non_selectable
{
	cursor: default;
}

[type=loading], [type=loading_more]
{
	color: #9f9f9f;
}

[type=error], [type=loading_more_error]
{
	color: #9c4646;
	
	.nothing_serious
	{
		color: #3f3f3f;
	}
}

[type=conditional]
{
	display: none
}

.picture
{
	display: inline-block;
	
	background-color: transparent;
	background-repeat: no-repeat;
}

#edit_mode_actions
{
	display: none;

	width: 100%;
	
	background-color: #d2d2d2;
	background: -webkit-gradient(linear, center top, center bottom, from(#eaeaea), to(#cfcfcf));
	background-image: -moz-linear-gradient(top, #eaeaea, #cfcfcf);
	
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #cfcfcf;

	.shadow(0px, 0px, 4px, 0.20);
	
	position: fixed;
	bottom: 0;
	left: 0;
	
	overflow: hidden;
	padding-top: 6px;
	
	text-align: center;
	
	.cancel, .done
	{
		display: inline-block;
	}
	
	.cancel
	{
		margin-left: 50px;
	}
}

#edit_mode_actions, #edit_mode_actions_placeholder
{
	height: 65px;
	overflow: hidden;
}

code
{
	margin: 0 2px;
	padding: 2px 5px;
	
	white-space: nowrap;
}

pre
{
	overflow: auto;
	padding: 6px 10px;
}

pre, code
{
	background-color: #F8F8F8;
	
	border: 1px solid #CCC;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	
	border-image: initial;
	
	font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
}

.button
{
	cursor: pointer;
}

.popup_menu_container
{
	position: absolute;
	z-index: 1;
	
	display: none;
	opacity: 0;
	
	.popup_menu
	{
		.rounded_corners(4px);

		opacity: 0.8;
		
		font-size: 20px;
		
		padding-top: 8px;
		padding-bottom: 8px;

		padding-left: 12px;
		padding-right: 12px;
		
		background-color: black;
		
		white-space: nowrap;
			
		a, span
		{
			color: white;
			border: 0;
			cursor: pointer;
		}				
	}
}

/*
#loading_indicator
{
	display: block !important;
}
*/

[contenteditable=true]
{
	cursor: auto !important;
}

.popup_panel_container
{
	padding: 2px;
	background-color: #cfcfcf;
	
	border-width: 1px;
	border-style: solid;
	border-color: #6f6f6f;

	.shadow(0, 0, 8px, 0.5);
	
	opacity: 0.91;
	border-radius: 8px;

	.popup_panel
	{
		color: white;
		background-color: #2F2F2F;
		
		text-shadow: black 1px 1px 4px;
		
		border-radius: 6px;
		
		padding-left: 14px;
		padding-right: 14px;
		padding-top: 9px;
		padding-bottom: 9px;
		
		border-width: 1px;
		border-style: solid;
		border-color: #1f1f1f;
		
		box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.7);
	}
}

.simple_value_dialog
{
	.cancel
	{
		float: left;
	}
	
	.ok
	{
		float: right;
	}
}

body[mode="правка"] .rich_formatting a
{
	.hyperlink();
}

.rich_formatting
{
	font-family: @textual_font;

	font-size: @textual_font_size;
	line-height: @textual_line_height;

	.hint
	{
		color: #7f7f7f !important;
	}
	
	h1:focus
	{
		outline: 0px solid transparent;
	}
	
	.citation
	{
		padding-left: 100px;
		
		padding-top: 49px;
		padding-bottom: 58px;
	
		.text:before
		{
			content: '«';
		}
		
		.text:after
		{
			content: '»';
		}
		
		.text
		{
			font-face: Bliss Pro;
		}
		
		.author
		{
			margin-left: 100px;
			text-align: right;
			white-space: nowrap;
			text-overflow: ellipsis;
			
			/* font-family: @headings_font; */
			font-size: 27px;
			line-height: 40px;
		}
	}
	
	.picture
	{
		/* .beautiful_shadow_5(0px, 4px, 20px, 8px, 12px, 8px, 0px, 0.1); */
		/*.beautiful_shadow_5(0px, 0px, 4px, 4px, 4px, 4px, 0px, 1, 0, 120, 255); */
	}
	
	p
	{
		text-indent: @paragraph_indent;
		/* text-align: justify; */
	}
	
	ul li
	{
		text-indent: 10px;
		list-style-type: disc;
	}

	a
	{
		/*
		color: inherit;
		border-bottom-width: 0;
		*/
	}

	a:hover
	{
		.hyperlink();
		
		/*
		-webkit-transition: color .25s linear;
		-moz-transition: color .25s linear;
		transition: color .25s linear;
		*/
	}

	h1
	{
		font-size: 50px;
	}

	h2
	{
		font-size: 40px;

		border-bottom-width: 1px;
		border-bottom-color: black;
		border-bottom-style: solid;
		
		margin-top: 100px;
	}
	
	h1, h2, h3, h4, h5, h6
	{
		/* font-family: @headings_font; */
	}
	
	a.reference
	{
		font-family: @labels_font;
	}
	
	.references
	{
		list-style: none;
		padding: 0;
		
		li
		{
			margin-bottom: 20px;
			
			a
			{
				.hyperlink;
				
				display: inline-block;
			}
		}
	}
	
	h1[contenteditable="true"]
	{
		cursor: text;
	}
		
	section[contenteditable="true"]
	{
		h2
		{
			cursor: text;
		}
	}
}

.blurred
{
	*, #compose_message > article .hint, #compose_message > article .tagged_hint
	{
		.css_transition_duration(1000ms);
		.css_transition_property(color, text-shadow);
		color: transparent !important;
		text-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important;
	}
	
	.visual_editor_tools_container
	{
		box-shadow: 0 0 14px black;
		opacity: 0.4;
		
		li
		{
			&, sub, sup, code, pre
			{
				color: rgba(255, 255, 255, 0.2) !important;
				text-shadow: 0 0 5px rgba(255, 255, 255, 1.0) !important;
			}
			
			&.list, &.picture, &.undo, &.redo, &.video
			{
				opacity: 0.5
			}
		}
		
		.more, .less
		{
			opacity: 0.5;
		}
	}
	
	.on_the_right_side_of_the_panel .picture, .chat_user_icon .picture
	{
		opacity: 0.4;
		
		& *
		{
			color: rgba(255, 255, 255, 1) !important;
		}
	}
	
	#panel
	{
		box-shadow: 0 0 14px rgba(0, 0, 0, 0.7);
		
		#panel_menu
		{
			opacity: 0.5
		}
	}
}

#loading_indicator
{
	position: fixed;
	left: 0;
	top: 0;

	display: none;
	opacity: 0;

	width: 100%;
	height: 100%;
	
	text-align: center;
	
	/*
	background-color: rgba(0, 0, 0, 0.7);
	*/
	
	/*
	background: -webkit-radial-gradient(rgba(64, 64, 64, 0.5), rgba(64, 64, 64, 0.5) 35%, rgba(0, 0, 0, 1));
	background: -moz-radial-gradient(rgba(64, 64, 64, 0.5), rgba(64, 64, 64, 0.5) 35%, rgba(0, 0, 0, 1));
	*/

	&:after
	{
		display: inline-block;
		width: 0;
		height: 100%;
		vertical-align: middle;
		content: ''
	}

	.background
	{
		position: absolute;
		left: 0;
		top: 0;
		
		z-index: -1;
		
		width: 100%;
		height: 100%;
		
		.top, .bottom
		{
			width: 100%;
			height: 100%;
			
			opacity: 0.75;
		}
		
		.top
		{
			position: relative;
			
			left: 0;
			top: -50%;
		
			margin-top: 73px;	
		
			width: 100%;
			height: 100%;
			
			background-image: linear-gradient(bottom, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.88) 2%);
			background-image: -moz-linear-gradient(bottom, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.88) 2%);
			
			background-image: -webkit-linear-gradient(bottom, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.88) 2%);
		}
		
		.bottom
		{
			position: relative;
			
			left: 0;
			top: -50%;
			
			background-color: rgb(0, 0, 0);
		}
	}
	
	.content
	{
		position: relative;	
		
		display: inline-block;
		vertical-align: middle;
			
		height: 180px;
		width: 260px;
			
		> div
		{
			display: inline-block;
		
			opacity: 0;
			
			width: 100%;
			height: 100%;
				
			.wait
			{
				position: relative;
				left: -8px;
				top: -4px;
				
				color: #AFAFAF !important;
				text-shadow: 0 0 0px #000 !important;
				
				.ellipsis
				{
					min-width: 25px;
					color: inherit !important;
					text-shadow: inherit !important;
					display: inline-block;
					text-align: left;
				}
			}
			
			.frames
			{
				position: relative;
				
				width: 100%;
				height: 100%;
	
				.frame
				{
					visibility: hidden;
				
					display: inline-block;
					position: absolute;
					
					left: 0;
				
					width: 100%;
					height: 100%;
					
					background-color: transparent;
				}
			}
		}
	}
}

*
{
	outline: none;
}