#enter_window
{
	input[type="text"]
	{
		width: 500px;
		display: block;
		margin-top: 10px;
	}

	.main_content
	{
		padding-top: 40px;
		padding-bottom: 50px;
		padding-left: 50px;
		padding-right: 50px;
		
		.icon
		{
			float: left;
			
			width: 128px;
			height: 128px;

			background-image: url('/картинки/на страницах/welcome/dialog/join/ключи.png');
			background-repeat: no-repeat;
			
			padding-right: 40px;
			margin-top: 10px;
		}
		
		form
		{
			display: inline-block;
			vertical-align: top;
		
			padding-top: 20px;
			
			> label[for="пароль"]
			{
				display: block;
				margin-top: 25px;
			}			
		}
	}
		
	.buttons
	{
		padding-right: 30px;
		
		.cancel
		{
			float: left;
		}
		
		.enter
		{
			float: right;
		}
	}
}