@import "/облик/вспомогательный.less";

.autocomplete
{
	display: inline-block;
	
	position: relative;
	
	overflow: visible;
	
	> .selected
	{
		display: none;
	}
	
	> input[type="text"]
	{
		background-image: url('/картинки/навершие/поиск/magnifier.png');
		background-repeat: no-repeat;
		background-size: 16px 16px;
		background-position: 12px 14px;
				
		padding-left: 38px;
		
		.include_padding_in_width();

		width: 100%;
	}
	
	> ul
	{
		position: absolute;
		z-index: 1;
		
		width: 100%;
		
		margin: 0;
		padding: 0;
		
		top: @input_field_height;
		
		list-style-type: none;
		
		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
		
		border-width: 1px;
		border-color: #cfcfcf;
		border-style: solid;
		
		.include_padding_in_width();
		
		> li
		{
			padding-left: 11px;
			padding-right: 11px;
			
			padding-left: 39px;
			
			padding-top: 5px;
			padding-bottom: 5px;
			
			text-align: left;
			
			border-top-width: 0;
			
			background-color: #ffffff;
			
			/* background-color: #f7f7f7; */
			
			/* .top_to_bottom_gradient(#ffffff, #f0f0f0); */
			
			cursor: pointer;
			
			overflow: hidden;
			text-overflow: ellipsis;
			
			&.highlighted
			{
				background-color: #e7f6ff;
				/* .top_to_bottom_gradient(#e7f6ff, #e7f6ff); */
			}
		}
	}
	
	&.invalid
	{
		> input[type="text"]
		{
			border-color: #a50000;
		}
	}
}