@import "/облик/вспомогательный.less";

.vertical_progress_bar
{
	position: fixed;
	top: 0;
	right: 0;
	
	height: 100%;
	
	font-size: 0;
	display: none;
	
	z-index: 2;
}

.vertical_progress_bar
{
	.bar
	{
		&, .progress
		{
			height: 100%;
	
			width: 2px;
			
			overflow-x: visible;
			
			border-bottom-left-radius: 2px;
			border-bottom-right-radius: 2px;
		}
		
		.progress
		{
			position: absolute;
			
			background-color: #4f4f4f;
			.css_transition(all, 500ms);
			
			> .current_viewport
			{
				position: absolute;
				width: 100%;
				
				.include_padding_in_width();
				
				.css_transition(height, 500ms);
				
				background-color: white;
				
				border-bottom-left-radius: 20px;
				border-top-left-radius: 20px;
				
				border-color: #4F4F4F;
				border-style: solid;
				border-width: 2px;
				
				position: absolute;
				left: -3px;
				width: 12px;
			}
		}
	}
}

.either_way_loading
{
	.previous_conditional
	{		
		font-size: 22px;
				
		[type=loading], [type=loading_more], [type=error], [type=loading_more_error]
		{
			text-align: center;
			margin-bottom: 50px;
		}
		
		[type=loading_more], [type=loading_more_error]
		{
			margin-top: 0px;
		}
		
		.previous
		{
			text-align: center;
			height: 30px;
			
			.more_container
			{
				position: absolute;
				width: 100%;
				text-align: center;
			}
			
			> a
			{
				position: relative;
				top: 0px;
			}
		}
	}
}

@jump_to_start_or_end_size: 16px;

.either_way_loading
{
	.pagination
	{
		display: none;
		
		position: fixed;
		
		left: 0;
		bottom: 0;
		right: 0;
		
		margin-left: @jump_to_top_width + @jump_to_start_or_end_size + 1px + 1px + 1px;
		margin-right: @jump_to_top_width + @jump_to_start_or_end_size;
		
		z-index: 1;
		
		.whole
		{
			position: absolute;
			bottom: 0;
			
			height: @jump_to_start_or_end_size;
			width: 100%;
			
			margin-left: -2px;
			z-index: 1;
			
			border-top-width: 1px;
			
			border-left-width: 1px;
			border-right-width: 1px;
				
			.current
			{
				position: absolute;
				left: 0;
				top: -1px;
			
				height: 100%;
				
				border-top-width: 1px;
				border-bottom-width: 0;
				
				border-left-width: 1px;
				border-right-width: 1px;
				
				border-color: #cacaca;
				border-style: solid;
				
				cursor: default;
			}
		}
		
		.start, .end
		{
			width: @jump_to_start_or_end_size;
			height: @jump_to_start_or_end_size;
		}
		
		.whole, .start, .end
		{
			background-color: #efefef;
			opacity: 0.8;
			
			border-color: #cacaca;
			border-style: solid;
			
			border-bottom-width: 0px;
			
			cursor: pointer;
			
			.css_transition(opacity, 100ms);
		}
		
		.whole.moused_over, .start:hover, .end:hover
		{
			opacity: 0.9;
		
			.css_transition(opacity, 0);
		}
			
		.whole.active, .start:active, .end:active
		{
			opacity: 1;
		
			.css_transition(opacity, 0);
		}
		
		.start, .end
		{
			position: absolute;
			bottom: 0;
		}
		
		.start
		{
			left: -@jump_to_start_or_end_size - 1px - 1px - 1px;
			
			border-top-width: 1px;
			
			border-left-width: 1px;
			border-right-width: 0px;
		}
		
		.end
		{
			right: -@jump_to_start_or_end_size - 1px;
			
			border-top-width: 1px;
			
			border-left-width: 0px;
			border-right-width: 1px;
		}
		
		
		.whole .current, .start:hover, .end:hover
		{
			background-color: #99c7f1;
		}
		
		&.smooth
		{
			.current
			{
				.css_transition(left, 300ms);
			}
		}
		
		&.moused_over
		{
			.start
			{
				background-image: url('/картинки/pagination/start.png')
			}
			
			.end
			{
				background-image: url('/картинки/pagination/end.png')
			}
		}
	}
}