@import "/облик/вспомогательный.less";
@import "/облик/user icon.less";
@import "/облик/author_content_date.less";

@user_icon_size: @a_bit_smaller_user_icon_size;

@user_picture_top: @AuthorContentDate_user_picture_top;
@user_picture_left: @AuthorContentDate_user_picture_left;

@inter_column_padding: @AuthorContentDate_inter_column_padding;
@author_column_left_padding: @AuthorContentDate_author_column_left_padding;
@author_column_right_padding: @AuthorContentDate_author_column_right_padding;
@author_column_width: @AuthorContentDate_author_column_width;
@message_bottom_padding: @AuthorContentDate_message_bottom_padding;
@author_icon_margin_left: @AuthorContentDate_author_icon_margin_left;
@time_column_padding: @AuthorContentDate_time_column_padding;
@time_column_width: @AuthorContentDate_time_column_width;

@top_padding: 0px;
@bottom_padding: 0px;
@user_icon_margin: 5px;

@paragraph_margin: 7px;
@paragraph_margin_amendment: 2px;

.breadcrumbs
{
	margin-bottom: 22px;
}

.messages_framework
{
	/* чтобы не схлопывались margin-ы */
	padding-bottom: 30px;
	
	> .older
	{
		text-align: center;
		white-space: nowrap;
		
		margin-top: 20px;
		
		height: 56px;
		
		.more_container
		{
			position: absolute;
			width: 100%;
			text-align: center;
			
			> div
			{
				margin: 0;
			}
		}
		
		> a
		{
		}
	}
	
	ul.messages_container
	{
		> li
		{
			
			margin-top: -@paragraph_margin;
			
			&.new_author
			{
				margin-top: 0;
			}
						
			&.author_end
			{
				margin-bottom: 0;
			}
			
			&.a_little_later
			{
				margin-top: 12px;
			}
			
			&.some_time_later
			{
				margin-top: 22px;
			}
			
			&.later
			{
				margin-top: 32px;
			}
			
			&.more_later
			{
				margin-top: 42px;
			}
			
			&.reasonably_later
			{
				margin-top: 62px;
			}
			
			&.much_later
			{
				margin-top: 100px;
			}
			
			&.a_little_later,
			&.some_time_later,
			&.later,
			&.more_later,
			&.reasonably_later,
			&.much_later
			{
				&:first-child
				{
					margin-top: 0;
				}
			}
			
			> .content_wrapper
			{
				> .content
				{		
					white-space: pre-wrap;
					word-wrap: break-word;
					
					> p
					{
						text-indent: 0;
					}
				}
			}
			
			> .when
			{
				display: none;
			}
			
			&.new_author,
			&.a_little_later,
			&.some_time_later,
			&.later,
			&.more_later,
			&.reasonably_later,
			&.much_later
			{
				> .when
				{
					display: block;
				}
			}
		}
	}
	
	.typing
	{
		position: absolute;
		left: 4px;

		margin-left: @author_column_left_padding + @author_column_width + @inter_column_padding;
		padding-top: 7px;
		
		background-image: url('/картинки/пишет.gif');
		background-repeat: no-repeat;
		background-position: 0 11px;
		
		opacity: 0;
		
		> div
		{
			font-size: 16px;
			color: #7f7f7f;
			margin-left: 24px;
		}
	}
		
	#compose_message
	{
		position: fixed;
		bottom: 0;
		
		z-index: 1;
		
		width: 100%;
		
		background-color: white;
		
		/*
		article > p.tagged_hint
		{
			text-indent: 0;
		}
		*/
		
		.visual_editor_tools .more
		{
			background-image: url('/картинки/писарь/снасти/кнопки/скрыть разширенное.png');
		}
		
		.visual_editor_tools .less
		{
			background-image: url('/картинки/писарь/снасти/кнопки/показать всё.png');
		}
	}
	
	.popup_menu_container.of_message_author
	{
		margin-top: @user_picture_top + 2 * @user_icon_size / 3;
		margin-left: @author_column_left_padding + @author_column_width - @user_picture_left;
	}
	
	.popup_menu_container.of_online_user
	{
		margin-top: 4 * @user_icon_size / 7;
		margin-left: 4 * @user_icon_size / 7;
	}
	
	#compose_message, .compose_message
	{
		> article
		{
			padding-left: @author_column_left_padding + @author_column_width + @inter_column_padding;
			padding-right: @inter_column_padding + @time_column_width + @time_column_padding + @inter_column_padding;
			
			min-height: @messaging_font_line_height;
			
			margin-top: @paragraph_margin;
			margin-bottom: @paragraph_margin;
		}
	}
	
	.scroll_down_to_new_messages
	{
		display: none;
	
		position: fixed;
		bottom: 20px;
		right: 20px;
		
		z-index: 1;
		
		cursor: pointer;
	}
	
	.visual_editor_tools_container
	{
		z-index: 0;
	}
		
	.who_is_connected_container
	{
		overflow: hidden;
		height: @top_padding + @smaller_user_icon_size + 2 * @user_icon_margin + 2 * 1 + @bottom_padding;
	
		margin-bottom: 0px;
		margin-top: 0px;
				
		> .who_is_connected_bar
		{
			position: relative;
			z-index: 0;
			
			&.sticky
			{
				z-index: 1;
			}
	
			> .who_is_connected 
			{
				margin-left: 0px;
				
				> li
				{
					position: relative;
					
					float: left;
					
					> a
					{
						float: left;
					}
				}
				
				> li
				{
					width: 32px + 2 * 1;
					height: 32px + 2 * 1;
				
					> a
					{
						width: 100%;
						height: 100%;
					}
				}
			}
				
			.background
			{
				position: absolute;
				top: 0;
				z-index: 0;
				
				width: 100%;
				height: @smaller_user_icon_size + 2 * 5 + 2 * 1;
				
				background-color: #ffffff;
				
				.css_transition_property(background-color);
				.css_transition_duration(400ms);
				.css_transition_easing(ease-in-out);
				
				opacity: 0.5;
			}
			
			.who_is_connected
			{
				position: relative;
				z-index: 2;
					
				margin-top: @top_padding;
				margin-bottom: @top_padding;
				
				padding: 0;
				
				overflow: hidden;
			
				list-style: none;
				text-indent: 0;
				
				.picture
				{
					background-image: url('/картинки/avatar/маленькая.jpg');
				}
				
				li
				{
					display: inline-block;
					
					margin: @user_icon_margin;
					margin-left: 0;
					
					&:first-child
					{
						margin-left: @user_icon_margin;
					}
						
					/*
					.user_offline_picture_glow
					{
						opacity: 1 !important;
					}
					*/
					
					a
					{
						display: inline-block;
						position: relative;
						
						border: 0;
						
						/* .beautiful_shadow_3(0px, 1px, 2px, 3px, 4px, 0.2); */
					}
				}
			}
			
			&.sticky
			{
				width: 100%;
				
				.who_is_connected
				{
					li
					{
						margin: 5px;
						margin-left: 0;
						
						&:first-child
						{
							margin-left: 5px;
						}
						
						.user_offline_picture_glow
						{
							display: none;
						}
						
						.picture
						{
							border-width: 1px;
							border-style: solid;
							border-color: #6f6f6f;
						}
					}
				}
				
				.background
				{
					background-color: #cfcfcf;
				}
			}
		}
	}
}

.messages_rich_formatting
{
	font-family: @messaging_font;
	font-size: @messaging_font_size;
	line-height: @messaging_font_line_height - 2 * @paragraph_margin_amendment;
	
	> p
	{
		text-indent: 0;
		
		min-height: @messaging_font_line_height;
	}
	
	> p, > p:last-child, > p:first-child
	{
		margin: 0;
		
		margin-top: @paragraph_margin;
		margin-bottom: @paragraph_margin;
	}
	
	> p:first-child
	{
	}
	
	.citation
	{
		padding: 0;
		margin-top: 6px;
	}
	
	.video_player
	{
		margin-top: 28px;
	}
}

.messages_framework
{
	ul.messages_container
	{
		> li
		{
			&:first-child
			{
				.messages_rich_formatting
				{
					.video_player:first-child
					{
						margin-top: 8px !important;
					}
				}
			}
		}
	}
}

body[mode="правка"] .messages_framework > .older a
{
	cursor: not-allowed;
}

body.jump_to_top_mouse_over
{	
	.messages_framework
	{
		.who_is_connected
		{
			margin-left: 20px !important;
		}
	}
}

#content.communications
{
	.main_content
	{
		margin-top: @standard_breadcrumbs_top_margin;
		margin-bottom: 50px;
		
		margin-left: @standard_breadcrumbs_left_margin;
		margin-right: 20px;
		
		> .breadcrumbs_container
		{
			margin: 0;
		}
		
		> h3
		{
			color: #7f7f7f;
			margin-bottom: 60px;
		}
	}
		
	.empty
	{
		color: #7F7F7F;
		margin-bottom: 60px;
		margin-top: 120px;
	}

	.communications_list
	{
		margin-top: 20px;
		
		list-style-type: none;
		padding: 0;
	
		> li.selected
		{
			border-color: #c1ebff;
			background-color: #e3f6ff !important;
			
			.css_transition_duration(100ms);
		}
		
		> li
		{
			position: relative;
			
			margin-left: -10px;
			padding-left: 10px;
	
			.css_transition(100ms, background-color);
			
			border-width: 1px;
			border-style: solid;
			border-color: transparent;
			
			&.new
			{
				background-color: #F0FBFF;
				box-shadow: 0 0 4px #F0FBFF;
				
				.css_transition(500ms, background-color);
			}
			
			> a
			{
				display: block;
	
				padding-top: 5px;
				padding-bottom: 5px;
			
				> .user_icon
				{
					display: inline-block;
					vertical-align: top;
					
					margin-right: 5px;
				}
				
				> .title
				{
					display: inline-block;
					margin-top: 5px;
					margin-left: 10px;
				}
							
				.when
				{
					position: relative;
					top: 11px;
					
					margin-right: 19px;
					margin-left: 19px;
					
					float: right;
					color: #afafaf;
					
					font-size: 20px;			
				}
			}
		}
	}
}

.messages_framework
{
	.breadcrumbs_container
	{
		margin-top: -4px;
	}
}