@import "/облик/вспомогательный.less";

.rich_formatting
{
	font-family: @textual_font;
	font-size: @textual_font_size;
	line-height: @textual_font_line_height;

	white-space: pre-wrap;
	
	.hint
	{
		color: #7f7f7f !important;
		
		&.should_be_invisible
		{
			color: transparent !important;
		}
	}
	
	h1:focus
	{
		outline: 0px solid transparent;
	}
	
	h1
	{
		margin-top: 30px;
		margin-bottom: 58px;
	}
	
	p
	{
		clear: both;
		
		min-height: @textual_font_line_height;
	}
	
	p:first-child
	{
		margin-top: 0;
	}
	
	p:last-child
	{
		margin-bottom: 0;
	}
	
	.citation
	{
		padding-left: 46px;
	
		&:after
		{
			content: "";
			display: table;
			clear: both;
		}
	
		.text:before
		{
			content: '«';
		}
		
		.text:after
		{
			content: '»';
		}
		
		.text
		{
			font-family: Bliss Pro;
			font-style: italic;
			
			display: table-cell;
		}
		
		.author
		{
			float: right;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 60%;
			
			font-size: 27px;
			line-height: 40px;
		}
	}
	
	.tex
	{
		/* display: inline-block; */
		
		margin-bottom: 30px;
	}
	
	.video_player
	{
		text-align: center;
		margin-bottom: 28px;
	}
	
	p
	{
		text-indent: @paragraph_indent;
		/* text-align: justify; */
		
		> *
		{
			text-indent: 0;
		}
	}
	
	ul li
	{
		text-indent: 10px;
		list-style-type: disc;
	}

	a
	{
		/*
		color: inherit;
		border-bottom-width: 0;
		*/
	}

	a:hover
	{
		.hyperlink();
		
		/*
		-webkit-transition: color .25s linear;
		-moz-transition: color .25s linear;
		transition: color .25s linear;
		*/
	}

	h1
	{
		font-size: 50px;
	}

	h2
	{
		font-size: 40px;

		border-bottom-width: 1px;
		border-bottom-color: #7f7f7f;
		border-bottom-style: solid;
		
		margin-top: 50px;
		margin-bottom: 50px;
	}
	
	a.reference
	{
		font-family: @labels_font;
	}
	
	.references
	{
		list-style: none;
		padding: 0;
		
		li
		{
			margin-bottom: 20px;
			
			a
			{
				.hyperlink;
				
				display: inline-block;
			}
		}
	}
	
	h1[contenteditable="true"]
	{
		cursor: text;
	}
		
	section[contenteditable="true"]
	{
		h2
		{
			cursor: text;
		}
	}
	
	[type="video"]
	{
		border-style: solid;
		border-color: #7F7F7F;
		border-width: 1px;

		background-color: black;
		
		border-radius: 4px;

		.beautiful_shadow_3(0px, 0px, 16px, 10px, 4px, 0.1);
	}
	
	[type="picture"]
	{
		border-style: solid;
		border-color: #7F7F7F;
		border-width: 1px;
		
		border-radius: 4px;
		
		.beautiful_shadow_3(0px, 0px, 8px, 3px, 4px, 0.1);
	}

	[type="picture"]
	{
		margin-top: 0;
	}
	
	.video_player
	{
		margin-top: 8px;
	}
}