@import "/облик/вспомогательный.less";

.center_business_card
{
	text-align: center;
}

.business_card
{
	position: relative;
	
	text-align: left;
	
	display: block;
	
	min-width: 650px;
	max-width: 650px;
	/* overflow: hidden; */
	
	margin-left: auto;
	margin-right: auto;
	
	margin-top: 10px;
	margin-bottom: 10px;
	
	padding-top: 28px;
	padding-bottom: 25px;

	padding-left: 40px;
	padding-right: 40px;
	
	border-radius: 10px;
	
	background-color: #fafafa;
	background: -webkit-gradient(linear, center top, center bottom, from(#fcfcfc), to(#ededed));
	background-image: -moz-linear-gradient(top, #fcfcfc, #ededed);
	
	/* .beautiful_shadow_4(0px, 4px, 20px, 8px, 12px, 8px, 0.1); */
	/* в хроме тормозит */
	/* можно заменить border-image'ем */
	.shadow(0px, 3px, 11px, 0.1);

	border-style: solid;
	border-width: 1px;
	border-bottom-color: #AFAFAF;
	border-top-color: #DFDFDF;
	border-left-color: #CFCFCF;
	border-right-color: #CFCFCF;

	section
	{
		display: inline-block;
		vertical-align: top;
	}

	.personal_info
	{
		.picture, .real_picture
		{
			background-repeat: no-repeat;
			
			width: 120px;
			height: 120px;
			
			border-radius: 5px;
			
			> .picture_uploading_screen
			{
				border-radius: 5px;
			}
		}
		
		.picture
		{
			position: relative;
			
			background-image: url('/картинки/business card/картинка по умолчанию.jpg');
			
			margin-top: 24px;
			margin-left: 15px;
			margin-right: 50px;
			
			.beautiful_shadow_5(0px, 1px, 3px, 3px, 5px, 3px, 7px, 0.1);
		}

		.name
		{
			font-size: 30px;
			color: #e81f95;
			
			a
			{
				border: 0;
				color: inherit;
				
				white-space: nowrap;
			}
		}

		.description
		{
			margin-top: -8px;
			margin-left: 12px;
			
			font-size: 24px;
			color: #7f7f7f;
	
			cursor: default;
				
			white-space: nowrap;
		}

		/*
		.gender
		{
			position: absolute;

			left: 0;
			top: 0;
			
			width: 100%;
			height: 100%;
			
			min-width: 17px;
			min-height: 22px;
			
			margin-top: 17px;
			margin-left: -15px;
			
			background-image: url('../картинки/business card/gender/male.png');
			background-position: top right;
			background-repeat: no-repeat;
			background-color: transparent;	
		}
		*/
	}
	
	.info
	{
		margin-top: 82px;

		.type
		{
			width: 100%;
			text-align: right;
			
			font-size: 16px;
			color: #7d7b7b;
			
			cursor: default;
		}
		
		.spacer
		{
			height: 12px;
		}

		.value
		{
			width: 100%;
			text-align: right;
			
			margin-top: -3px;
			
			font-size: 20px;
			color: #e81f95;
	
			cursor: default;
		}
	}
	
	.origin
	{
		.value
		{
			white-space: nowrap;
		}
	}

	.gender
	{
		float: right;
		margin-bottom: 12px;
	
		width: 17px;
		height: 22px;
		
		background-position: top right;
		background-repeat: no-repeat;
		background-color: transparent;	
	}

	.age
	{
		float: right;
		margin-bottom: 16px;
	
		font-size: 16px;
		color: #7d7b7b;
		
		cursor: default;
	}

	.gender[gender="мужской"]
	{
		background-image: url('/картинки/business card/gender/male.png');
	}

	.gender[gender="женский"]
	{
		background-image: url('/картинки/business card/gender/female.png');
	}
	
	.miscellaneous
	{
		position: absolute;
		left: 510px;
		
		.small_logo_placeholder
		{
			min-width: 157px;
			min-height: 35px;
		}
		
		.small_logo
		{
			display: block;
			border: 0;
			
			position: absolute;

			right: 30px;
			bottom: 20px;
			
			min-width: 157px;
			min-height: 35px;
			
			background-image: url('/картинки/business card/small logo.png');
			background-position: bottom right;
			background-repeat: no-repeat;
			background-color: transparent;
		}

		.online_status
		{
			position: relative;
			margin-top: 20px;
		
			margin-left: auto;
			margin-right: auto;
			
			width: 180px;
			height: 180px;
			
			.halo
			{
				width: 100%;
				height: 100%;
				
				opacity: 0;
				
				.css_transition_property(opacity);
				.css_transition_duration(1s);
				.css_transition_easing(ease-in-out);
				
				background-image: url('/картинки/business card/online halo.png');
			}
		}
		
		.online_status .online, .online_status .offline
		{
			width: 88px;
			height: 88px;
		}
		
		.online_status .online, .online_status .offline
		{
			position: absolute;
			left: 46px;
			top: 49px;
			
			background-repeat: no-repeat;
			background-color: transparent;
			
			.css_transition_property(opacity);
			.css_transition_duration(1s);
			.css_transition_easing(ease-in-out);
		}
		
		.online_status
		{
			.online
			{
				background-image: url('/картинки/business card/online.png');
				
				opacity: 0;
			}
		
			.offline
			{
				background-image: url('/картинки/business card/offline.png');
			}
			
			.was_here
			{
				position: absolute;
				
				top: 96px;
				left: 90px;
				
				font-size: 20px;
				
				color: white;
				background-color: #2f2f2f;
				opacity: 0.91;
				
				display: none;
				
				padding-left: 12px;
				padding-right: 12px;
				padding-top: 8px;
				padding-bottom: 8px;
				
				text-shadow: black 1px 1px 2px;
				
				border-radius: 4px;
				
				.line
				{
					white-space: nowrap;
				}
				
				a
				{
					color: white;
					border-bottom: 1px;
					border-bottom-style: dashed;
					border-bottom-color: white;
				}
			}
		}
	}
}