/**
 * Panel
 * 
 * This style sheet styles the panel. 
 * 
 * Distributed under GNU General Public License
 * http://www.gnu.org/licenses/gpl.html
 * 
 * @author Kuchumov Nikolay
 * @email kuchumovn@gmail.com
 * @github kuchumovn
 */

@import "/облик/вспомогательный.less";

/* this fix removes the scroll bars in Fire Fox */
#panel_box_shadow_fixer
{
	overflow: hidden;
	padding-bottom: 2px;
}

#panel_container
{
	width: 100%;	
}

#panel
{
	display: none;
	
	margin: 0;
	padding: 0;

	height: 60px;

	padding-left: 15px;
	
	background-image: url('/картинки/навершие/background.png');
	background-repeat: repeat-x;

	box-shadow: 0px 1px 2px #7f7f7f;
	
	.user_select(none);
}

#panel_menu
{
	list-style: none;
	text-indent: 0;
	
	position: absolute;
	left: 15px;
	right: 0;
	z-index: 2;

	margin: 0;
	padding: 0;

	li
	{
		position: relative;
	
		margin: 0;
		padding: 0;

		display: inline-block;
		
		width: 60px;
		height: 60px;
			
		margin-left: 2px;
		margin-right: 2px;

		a, .divider
		{
			display: block;
			float: left;
		}
		
		a
		{
			border: 0;
			
			cursor: pointer;
		}
		
		.divider
		{
			width: 60px;
			height: 1px;
		}
	}
}

em.panel_menu_tooltip
{
	padding-top: 10px;
	padding-bottom: 7px;
	padding-left: 15px;
	padding-right: 15px;

	position: absolute;
	top: 86px;
	left: 0px;
	z-index: 200;

	text-align: center;

	display: none;

	font-family: Whitney;
	font-size: 18pt;
	font-style: normal;
	font-weight: normal;
	
	background-color: #dfdfdf;
	
	cursor: default;
	
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	
	.beautiful_shadow_5(2px, 5px, 5px, 7px, 10px, 14px, 20px, 0.05);
}

#panel_logo
{
	position: relative;
	z-index: 10;
	
	margin: 0;
	margin-right: 12px;

	float: right;
}

a.image
{
	border: 0;
	display: block;
}


#panel_menu
{
	li[name="люди"]
	{
		margin-left: 14px;
		margin-right: -2px;
	}
	
	li[name="управление"], li[name="ошибки"]
	{
		display: inline-block;
	}
}

#panel_menu > li > .loading
{
	width: 16px;
	height: 16px;
	
	background-image: url('/картинки/навершие/loading.gif');
	
	margin-top: 24px;
	margin-left: 24px;
	
	opacity: 0.3;
	
	.css_transition(300ms, opacity);
}