@import "/облик/вспомогательный.less";

body.osx .popup .top_bar
{
	padding-top: 7px;
}

.popup .top_bar
{
	padding-top: 7px;
	padding-bottom: 6px;
}
 
.popup_veil.shown
{
	visibility: visible;
}
	
.popup_veil.collapsed
{
	visibility: hidden;
}
	
.popup_veil
{
	display: block;

	z-index: -1;
	
	background: -webkit-radial-gradient(rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5) 35%, rgba(0, 0, 0, 0.7));
	background: -moz-radial-gradient(rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5) 35%, rgba(0, 0, 0, 0.7));
}

.popup_veil.shown
{
}

.popup
{
	> .shadow
	{
		position: absolute;
		z-index: -1;
		
		width: 100%;
		height: 100%;
		
		left: -120px;
		top: -120px;
		
		.include_padding_in_width();
		
		padding: 54px;
		
		.shrunk_shadow
		{
			width: 100%;
			height: 100%;
		
			border-image: url('/картинки/окошко/тень/вся.png') 120 120 120 120 repeat;
			-moz-border-image: url('/картинки/окошко/тень/вся.png') 120 120 120 120 repeat;
			border-width: 120px;
			
			border-image-width: 120px 120px 120px 120px;
			border-image-slice: fill;
			border-style: solid;
			
			opacity: 1;
		}
	}
		
	.top_bar
	{
		display: block;
		
		border-width: 1px;
		border-style: solid;
		border-color: #9f9f9f;
	
		.top_to_bottom_gradient(#e3e3e3, #d0d0d0);
		
		margin: 0;
	
		padding-left: 30px;
		padding-right: 30px;
		
		font-family: "Messe Univers";
		font-size: 25px;
		font-weight: normal;

		line-height: normal;
		
		color: #3f3f3f;
		text-shadow: 0px 1px 0px #dfdfdf;
		
		text-align: center;
		white-space: nowrap;
		
		cursor: default;
	}
	
	.content
	{
		margin: 0;
		padding: 0;
		
		outline: none;
	}
	
	.main_content
	{
		background-color: #ededed;
		.top_to_bottom_gradient(#efefef, #ededed);
	
		border-left-width: 1px;
		border-right-width: 1px;
		
		border-left-style: solid;
		border-right-style: solid;
		
		border-color: #9f9f9f;
		
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 28px;
		padding-bottom: 22px;
		
		cursor: default;
	}
	
	.buttons
	{
		background-color: #e5e5e5;
		
		.top_to_bottom_gradient(#e3e3e3, #c7c7c7);
		
		border-width: 1px;
		border-style: solid;
		border-color: #9f9f9f;
		border-top-color: #cfcfcf;
		
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 8px;
		padding-bottom: 8px;
	}
	
	.buttons:after
	{
		content: ""; 
		display: block; 
		height: 0; 
		clear: both;
	}
	
	.content, .content > :last-child
	{
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
}

/* прочее */

/* Themes */

.popup_veil.slide_from_top
{
	.popup
	{
		position: relative;
	}
}

.popup_veil.slide_from_top,
.popup_veil.slide_from_top .popup
{
	.css_transition(300ms);
	.css_transition_easing(ease-in-out);
}

.popup_veil.fade.collapsed
{
	opacity: 0;
}

.popup_veil.fade.shown
{
	opacity: 1;
}

.popup_veil.fade,
.popup_veil.fade .popup
{
	.css_transition(200ms);
	.css_transition_easing(ease-in-out);
}

.popup_veil.bubble.collapsed
{
	.popup
	{
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
	}
}

.popup_veil.bubble.shown
{
	.popup
	{
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
	}
}

.popup_veil.bubble,
.popup_veil.bubble .popup
{
	.css_transition(300ms);
	.css_transition_easing(cubic-bezier(0.325, 0.855, 0.185, 0.990));
}