@import "/облик/вспомогательный.less";

.popup_message
{
	display: inline-block;
	text-align: left;
			
	margin-top: 20px;
	margin-right: 20px;
	
	border-width: 0;
	padding: 0;
	
	.popup_panel
	{
		border-width: 0;
	}
	
	/* opacity: 0.85; */
	
	/*
	border-style: solid;
	border-width: 2px;

	border-radius: 10px;
	*/
	
	/* .beautiful_shadow_5(3px, 5px, 5px, 7px, 10px, 14px, 20px, 0.12); */
	/* в хроме тормозит */
	/* можно заменить border-image'ем */
	/* .shadow(3px, 5px, 15px, 0.25); */

	cursor: default;

	.close
	{
		position: relative;
		float: right;

		left: 10px;
		top: 4px;
		
		margin-left: 4px;
			
		width: 30px;
		height: 30px;
		
		background-image: url('/картинки/уведомления/закрыть.png');
		
		cursor: pointer;
	}	
}

/*
	> .messages_container
	{
		position: fixed;
		right: 0;
		top: 0;
		
		z-index: 2;
		
		text-align: right;
		width: 100%;
			
		> .message_container
		{
			position: relative;
*/

body
{
	> .message_container
	{
		position: fixed;
		right: 0;
		top: 0;
		
		.info
		{
			.shadow(0, 0, 12px, 0.2);
			
			> div
			{
				/* .message(); */
				
				text-shadow: none;
				
				color: #303030;
				
				border-color: #7f7f7f;
				
				background-color: #eef2f4;
				
				box-shadow: none;
				
				border-width: 1px;
				border-color: #c7d6de;
			}
		}
	
		.error
		{
			.shadow(0, 0, 12px, 0.4);
			
			> div
			{
				text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
				
				color: #f5f5f5;
				
				background-color: #a52d32;
				
				box-shadow: none;
				
				border-width: 1px;
				border-color: #8c252a;
			}
		}
	
		.warning
		{
			.shadow(0, 0, 12px, 0.22);
				
			> div
			{
				text-shadow: none;
				
				color: #281b00;
				
				background-color: #f7dc72;
				
				.popup_panel
				{
					box-shadow: none;
				}
				
				box-shadow: none;
				
				border-width: 1px;
				border-color: #d1b856;
			}
		}
	}
}

.blurred
{
	.popup_message.error > div
	{
		color: #faefef !important;
		text-shadow: none !important;
	}
	
	.popup_message.warning > div
	{
		color: #281b00 !important;
		text-shadow: none !important;
	}
}