@import "/облик/вспомогательный.less";

#content
{
	padding-left: 40px;
	padding-right: 40px;
	
	margin-top: 50px;

	.picture_description
	{
		color: white;
		font-size: 20px;
	}
	
	.main_content
	{
		> .description
		{
			margin-left: 80px;
			text-indent: 0;
			margin-top: 70px;
			margin-bottom: 50px;
		}
		
		#pictures
		{
			list-style-type: none;
			padding: 0;
			
			position: relative;
		
			> li
			{
				display: inline-block;
				margin: 40px;
				
				> .icon
				{
					display: inline-block;
					
					cursor: -webkit-zoom-in;
					cursor: -moz-zoom-in;
				
					width: 400px;
					height: 267px;
					
					border-radius: 8px;
					
					.beautiful_shadow_5(0px, 3px, 20px, 12px, 2px, 8px, 4px, 0.2);
				}
			}
		}
		
		.show_picture
		{
			background-color: rgba(0, 0, 0, 0.89);
			
			.container
			{
				margin: 10px;
				margin-top: 40px;
				
				font-size: 0;
				
				cursor: default;
				
				> .picture
				{
					background-color: rgb(0, 0, 0);
					.beautiful_shadow_5(0px, 3px, 20px, 12px, 2px, 8px, 4px, 0.2);
				}
			}
			
			.close
			{
				position: absolute;
				top: 15px;
				right: 20px;
				
				font-size: 14px;
				font-family: Helvetica;
				color: #afafaf;
				cursor: pointer;
			}
			
			.previous
			{
				position: absolute;
				left: 0;
				top: 0;
				
				width: 50%;
				height: 100%;
				
				cursor: url('/картинки/cursor/влево (белый).png') 32 0, auto;
			}
			
			.next
			{
				position: absolute;
				right: 0;
				top: 0;
				
				width: 50%;
				height: 100%;
				
				cursor: url('/картинки/cursor/вправо (белый).png') 0 0, auto;
			}
		}
	}
}

.progress_bar
{
	position: absolute;
	bottom: 0px;
	
	width: 100%;
	text-align: center;
	
	font-size: 0;
	
	.bar
	{
		background-color: #2f2f2f;
	
		&, .progress
		{
			height: 8px;
			
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}
		
		.progress
		{
			background-color: #4f4f4f;
			.css_transition(width, 500ms);
		}
	}
}