@import "/облик/вспомогательный.less";

#content
{
	padding-left: 40px;
	padding-right: 40px;
	
	margin-top: 50px;
	
	#pictures
	{
		list-style-type: none;
		padding: 0;
		
		position: relative;
	
		> li
		{
			display: inline-block;
			margin: 40px;
			
			> .icon
			{
				display: inline-block;
				
				cursor: -webkit-zoom-in;
				cursor: -moz-zoom-in;
			
				width: 400px;
				height: 267px;
				
				.rounded_corners(8px);
				
				.beautiful_shadow_5(0px, 3px, 20px, 12px, 2px, 8px, 4px, 0.2);
			}
		}
	}
	
	.show_picture
	{
		background-color: rgba(0, 0, 0, 0.89);
		
		.container
		{
			margin: 10px;
			margin-top: 40px;
			
			background-color: rgb(0, 0, 0);
			.beautiful_shadow_5(0px, 3px, 20px, 12px, 2px, 8px, 4px, 0.2);
			
			cursor: default;
		}
		
		.close
		{
			position: absolute;
			top: 15px;
			right: 20px;
			
			font-size: 14px;
			font-family: Helvetica;
			color: #afafaf;
			cursor: pointer;
		}
		
		.previous
		{
			position: absolute;
			left: 0;
			top: 0;
			
			width: 50%;
			height: 100%;
			
			cursor: w-resize;
		}
		
		.next
		{
			position: absolute;
			right: 0;
			top: 0;
			
			width: 50%;
			height: 100%;
			
			cursor: e-resize;
		}
	}
}