.main_content
{
	margin-top: 80px;
	margin-bottom: 80px;
	
	margin-left: 60px;
	margin-right: 60px;
		
	#diary
	{
		list-style-type: none;
		padding: 0;
	
		> li
		{
		
		}
	}

	.empty
	{
		display: none;
		text-align: center;
	}
}