.main_content
{
	margin-top: 60px;
	margin-bottom: 60px;
	
	margin-left: 80px;
	margin-right: 80px;
	
	.breadcrumbs_container
	{
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 50px;
	}
		
	#journal
	{
		list-style-type: none;
		padding: 0;
	
		> li
		{
		
		}
	}

	.empty
	{
		display: none;
		text-align: center;
	}
}