@import "/облик/вспомогательный.less";

#content
{
	margin-top: 60px;
}

#albums
{
	list-style-type: none;
	
	position: relative;
	padding-left: 0;

	> li
	{
		display: inline-block;
		
		padding: 0;
		
		margin: 60px;
	
		.album
		{
			position: relative;
			display: inline-block;
		
			.rounded_corners(8px);
			
			.beautiful_shadow_5(0px, 3px, 20px, 12px, 2px, 8px, 4px, 0.2);
			
			overflow: hidden;
			
			&, > .cover
			{
				width: 400px;
				height: 267px;
			}
			
			/* fix rounded corners bug in web kit */
			
			> .cover
			{
				.rounded_corners(8px);
			}
			
			> .title
			{				
				border-bottom-left-radius: 8px;
				border-bottom-right-radius: 8px;
			}
			
			> .title
			{
				position: absolute;
				bottom: 0;
				
				width: 100%;
				
				font-size: 32px;
				color: white;
				background-color: black;
				opacity: 0.85;
				
				padding-left: 14px;
				padding-right: 14px;
				padding-top: 6px;
				padding-bottom: 6px;
				
				box-sizing: border-box;
			}
		}
	}
}