@import "/облик/вспомогательный.less";

#content
{
	margin-top: 60px;
}

#albums
{
	list-style-type: none;
	
	position: relative;
	padding-left: 0;

	> li
	{
		display: inline-block;
		
		padding: 0;
		
		margin: 60px;
	
		.album
		{
			position: relative;
			display: inline-block;
		
			.rounded_corners(8px);
			
			.beautiful_shadow_5(0px, 3px, 20px, 12px, 2px, 8px, 4px, 0.2);
			
			overflow: hidden;
			
			&, > .cover
			{
				width: 400px;
				height: 400px;
			}
			
			/* fix rounded corners bug in web kit */
			
			> .cover
			{
				.rounded_corners(8px);
			}
			
			> .title
			{				
				border-bottom-left-radius: 8px;
				border-bottom-right-radius: 8px;
			}
			
			> .title
			{
				position: absolute;
				bottom: 0;
				
				width: 100%;
				
				font-size: 36px;
				color: white;
				background-color: black;
				opacity: 0.85;
				
				padding-left: 18px;
				padding-right: 18px;
				padding-top: 10px;
				padding-bottom: 8px;
				
				box-sizing: border-box;
			}
		}
	}
}

#albums_block
{
	[type=loading], [type=loading_more], [type=error], [type=loading_more_error]
	{
		text-align: center;
		margin-bottom: 50px;
	}
	
	[type=loading_more], [type=loading_more_error]
	{
		margin-top: 50px;
	}
	
	[type=loading], [type=error]
	{
		margin-top: 150px;
	}
}