@import "/облик/вспомогательный.less";

.main_conditional
{
	[type=loading], [type=error]
	{
		text-align: center;
		margin-bottom: 50px;
		margin-top: 250px;
	}
	
	.main_info_centerer
	{
		text-align: center;
	}
	
	.main_info
	{
		margin-top: 150px;
		display: inline-block;
		
		text-align: left;
		
		@left_column: 300px;
		@right_column: 300px;
		
		@side_columns_padding: 40px;
		
		#id_card
		{
			.three_column_layout_center(@left_column, @right_column);
		}	
		
		#links, #actions
		{
			display: none;
			margin-top: 0px;
		}
		
		#links
		{
			.three_column_layout_left(@left_column);
			
			text-align: right;
			
			.include_padding_in_width();
			padding-right: @side_columns_padding;
			
			.common_friends
			{
				display: none;
			}
			
			> li
			{
				display: none;
			}
		}
		
		#actions
		{
			.three_column_layout_right(@right_column);
			
			.include_padding_in_width();
			padding-left: @side_columns_padding;
			
			> li
			{
				display: none;
			}
			
			.add_to_circles, .remove_from_circles
			{
				display: none;
			}
		}
		
		.links
		{
			list-style-type: none;
			padding: 0;
			
			line-height: 1.8em;
			font-size: 32px;
			
			> li, > li > a
			{
				white-space: nowrap;
			
				.css_transition();
				color: #7f7f7f;
				
				cursor: pointer;
				
				&:hover
				{
					color: @link_color;
				}
			}
		}
	}
}

#content
{
	margin-bottom: 30px;

	> .error
	{
		text-align: center;
		margin-bottom: 50px;
		margin-top: 250px;
	}
	
	#id_card_block > div
	{
		text-align: center;
		
		> .photo
		{
			img
			{
				margin-top: 80px;
			
				border-width: 1px;
				border-style: solid;
				border-color: #afafaf;
				
				border-radius: 10px;
				
				.beautiful_shadow_3(0, 0, 4px, 6px, 10px, 0.1);
			}
		}
		
		> .miscellaneous
		{
			text-align: left;
			white-space: nowrap;
			
			background-color: #ffffff;
			box-shadow: 0 0 20px white;
			
			padding: 40px;
			
			margin-top: 40px;
			margin-bottom: 50px;
			
			margin-left: auto;
			margin-right: auto;
			display: inline-block;
			
			border-radius: 10px;
			
			.minor_info
			{
				width: 900px;
				
				display: inline-block;
				vertical-align: top;
				
				margin: 0;
				
				.info
				{
					margin-bottom: 40px;
			
					font-size: 26px;
					
					&:last-child
					{
						margin-bottom: 0;
					}
				
					dt
					{
						display: block;
						color: #7D7B7B;
					}
					
					dd
					{
						display: block;
						margin-left: 20px;
					}
				}
				
				.left, .right
				{
					width: 50%;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				
				.left
				{
					float: left;
				}
				
				.right
				{
					float: right;
				}
			}
		
			.links
			{
				display: inline-block;
				vertical-align: top;
				
				margin-left: 60px;
				
				color: #7D7B7B;
				font-size: 26px;
				
				ul
				{
					margin-top: 0;
					padding-left: 20px;
	
					list-style-type: none;
				}
			}
		}
	}
}

body[mode="правка"]
{
	#content
	{
		.business_card .picture
		{
			cursor: pointer;
		}
		
		.photo img
		{
			cursor: pointer;
		}
	}
}

.business_card .uploading_picture
{
	display: none;

	position: absolute;  
	top: 0;
	left: 0;

	width: 120px;
	height: 70px;
	
	background-color: #7f7f7f;
	color: #ffffff;
	
	text-align: center;
	padding-top: 50px;
	
	font-size: 18px;
}