<div class="user_icon small with_away_status">
	<div class="user_offline_picture_glow"></div>
	{{if show_online_status}}<div class="user_online_picture_glow"></div>{{/if}}
	<div class="picture">
		<!--  title="${отправитель.имя}" -->
		<img class="real_picture"
			{{if отправитель['загружен ли аватар?']}}
				src="/загруженное/люди/${отправитель['адресное имя']}/картинка/маленькая.jpg${anti_cache_postfix()}"
			{{else}}
				src="/картинки/temporary/картинка с навершия.jpg"
				style="display: none"
			{{/if}}
		/>
		
		<div class="away">
			{{if отправитель.пол === 'мужской'}}
				отошёл
			{{else}}
				отошла
			{{/if}}
		</div>
		
		<div class="typing">пишет</div>
		
		<div class="erased">
			{{if отправитель.пол === 'мужской'}}
				стёр
			{{else}}
				стёрла
			{{/if}}
		</div>
	</div>
</div>

<div class="popup_menu_container popup_panel_container">
	<div class="popup_menu popup_panel">
		<span class="call">Позвать</span>
	</div>
</div>