<li _id="${_id}">
	<a href="/сеть/беседы/${escape_id(id)}">
		{{if участник}}
			<div class="leave" title="Выйти из беседы">
				<div class="button"></div>
			</div>
		{{/if}}
		
		<!--
		{{each(index, участник) участники}}
			{{tmpl(участник) 'маленький аватар'}}
		{{/each}}
		-->
		
		{{if последнее_сообщение}}
			{{tmpl(Object.x_over_y({ no_link: true }, последнее_сообщение.отправитель)) 'маленький аватар'}}
		
			<div class="when no_word_carrying intelligent_date" date="${последнее_сообщение.когда.getTime()}">${последнее_сообщение.когда_примерно}</div>
		{{/if}}
			
		<span class="title">${название}</span>
	</a>
</li>