<div class="bookshelf non_selectable">
	<div class="top_border"></div>
	<div class="middle">
		<div class="left_border"></div>
		<div class="inner">
			{{each shelves}}
				<div class="shelf">
					<div class="left"></div>
					<div class="center"></div>
					<div class="right"></div>
					<div class="books">
						{{each(index, book) books}}
							<div class="book_place">
								{{if book.название}}
									<div class="book_info popup_panel_container">
										<div class="info popup_panel">
											<span class="author">${book.сочинитель}</span>
											<span class="title">${book.название}</span>
										</div>
									</div>
																	
									<div class="book {{if book.обложка}} {{else}}no_icon{{/if}} non_selectable">
										{{if book.файл}}
											<a href="/загруженное/книги/${book.id}/${book.файл}">
										{{else}}
											{{if book.ссылка}}
												<a href="${book.ссылка}">
											{{/if}}
										{{/if}}
									
										{{if book.обложка}}
											<img class="icon" src="/загруженное/книги/${book.id}/${book.обложка}"/>
										{{else}}
											<div class="author">${book.сочинитель}</div><div class="title">${book.название}</div>
											<div class="icon"></div>
										{{/if}}

										<div class="bottom_shadow"></div>
										
										{{if book.файл}}
											</a>
										{{else}}
											{{if book.ссылка}}
												</a>
											{{/if}}
										{{/if}}
									</div>
								{{/if}}
							</div>
						{{/each}}
					</div>
				</div>
				
				{{if $index + 1 < $data.shelves.length}}
					<div class="shelf_divider">
						<div class="left"></div>
						<div class="center"></div>
						<div class="right"></div>
					</div>
				{{/if}}
			{{/each}}
		</div>
		<div class="right_border"></div>
	</div>
	<div class="bottom_border"></div>
</div>