<article class="business_card">
	<!-- gender -->
	<!-- <div class="gender"></div> -->
	
	<section class="personal_info">
		<!-- who is -->
		<div class="name"><a href="/люди/${escape_id($data['адресное имя'])}" inactive_in_edit_mode="true">${имя}</a></div>
		<div class="description">{{if описание}}${описание}{{else}}участник{{/if}}</div>
		
		<!-- avatar -->
		<div class="picture">
			<div>
				<img {{if !$data.avatar_version}} style="display: none" {{/if}} class="real_picture" {{if $data.avatar_version}} src="/загруженное/люди/${$data['адресное имя']}/картинка/большая.jpg?version=${avatar_version}" {{/if}}/>
				{{if Страница.эта() === 'человек/человек' }}
					<div class="uploading uploading_picture"><span>Загружается</span></div>
				{{/if}}
			</div>
		</div>
		
		{{if Страница.эта() === 'человек/человек' }}
			<form>
				<input type="file" class="upload_new_picture"/>
			</form>
		{{/if}}		
	</section>
	
	<section class="info">					
		<!-- gender -->
		<div class="gender" gender="${пол}"></div>
		
		{{if $data['время рождения']}}
			<div class="clear"></div>
		
			<div class="age">${возраст($data['время рождения'])}</div>
		{{/if}}
		
		<div class="clear"></div>
		
		<!-- origin -->
		<div {{if откуда}}{{else}}style="visibility: hidden"{{/if}} class="origin">
			<div class="type">откуда</div>
			<div class="value">{{if откуда}}${откуда}{{else}}&nbsp;{{/if}}</div>
		</div>
		
		<div class="spacer"></div>
		
		<!-- interests
		<div class="type">увлечения</div>
		<div class="value">...</div>
		 -->
	</section>
	
	<section class="miscellaneous" {{if with_online_status}}{{else}} style="display: none" {{/if}}>
		<!-- person's online_status -->
		<div class="online_status">
			<div class="online"></div>
			<div class="offline"></div>
			<div class="was_here non_selectable">
				<span class="line">{{if пол === 'мужской'}} Был {{else}} Была {{/if}} в сети <span class="last_action_time"></span>.</span>
				<a href="/люди/${escape_id($data['адресное имя'])}">Перепроверить</a>
			</div>
		</div>	
	
		<!-- Sobranie logo -->
		<!-- <a href="#" class="small_logo"></a> -->
	</section>
</article>