<li news="${_id}">
	<div class="content_wrapper">
		<div class="content multiline_text rich_formatting">
			{{if что === 'прописка' }}
				{{if пользователь.пол === 'женский'}} прописалась {{else}} прописался {{/if}} в нашей сети
			{{else что === 'создание' }}
				{{if чего === 'раздела'}}
					{{if пользователь.пол === 'женский'}} создала {{else}} создал {{/if}}
					раздел <a href="/читальня/${какого.путь}">${какого.название}</a>
				{{else чего === 'заметки'}}
					{{if пользователь.пол === 'женский'}} создала {{else}} создал {{/if}}
					заметку <a href="/читальня/${какой.путь}">${какой.название}</a>
				{{/if}}
			{{else что === 'загрузка' }}
				{{if чего === 'картинки'}}
					<div class="picture_uploaded">
						{{if пользователь.пол === 'женский'}} загрузила {{else}} загрузил {{/if}}
						картинку <br/>
						<a href="/люди/${пользователь['адресное имя']}/картинки/${какой.альбом.id}/${какой.id}">
							<img src="/загруженное/люди/${пользователь['адресное имя']}/картинки/${какой.альбом.id}/иконки/${какой.id}.jpg"/>
						</a>
					</div>
				{{/if}}
			{{else что === 'добавление' }}
				{{if чего === 'видеозаписи'}}
					<div class="video_uploaded">
						{{if пользователь.пол === 'женский'}} добавила {{else}} добавил {{/if}}
						видеозапись <br/>
						<a href="/люди/${пользователь['адресное имя']}/картинки/${какой.альбом.id}/${какой.id}">
							{{if какой.источник == 'vimeo.com'}}
								<img class="vimeo_video_picture video" vimeo_video_id="${какой.внешний_id}"/>
							{{else какой.источник == 'youtube.com'}}
								<img class="youtube_video_picture video" youtube_video_id="${какой.внешний_id}"/>
							{{/if}}
						</a>
					</div>
				{{/if}}
			{{/if}}
		</div>
	</div>

	<div class="author no_word_carrying">
		<a href="/люди/${пользователь['адресное имя']}">
			<span class="name" title="${пользователь.имя}">
				${пользователь.имя}
			</span>
			
			<div class="user_icon">
				<div class="user_offline_picture_glow"></div>
				<div class="picture" title="${пользователь.имя}">
					<div class="real_picture" style="background-image: url('/загруженное/люди/${пользователь['адресное имя']}/картинка/маленькая.jpg')"></div>
				</div>
			</div>
		</a>
	</div>	
		
	<div class="when no_word_carrying intelligent_date" date="${когда.getTime()}">${неточное_время(когда)}</div>
</li>