{{if что === 'прописка' }}
	<a href="/люди/${пользователь['адресное имя']}">${пользователь.имя}</a>
	{{if пользователь.пол === 'женский'}} прописалась {{else}} прописался {{/if}} в нашей сети
{{else что === 'создание' }}
	{{if чего === 'раздела'}}
		<a href="/люди/${пользователь['адресное имя']}">${пользователь.имя}</a>
		{{if пользователь.пол === 'женский'}} создала {{else}} создал {{/if}}
		раздел <a href="/читальня/${какого.путь}">${какого.название}</a>
	{{else чего === 'заметки'}}
		<a href="/люди/${пользователь['адресное имя']}">${пользователь.имя}</a>
		{{if пользователь.пол === 'женский'}} создала {{else}} создал {{/if}}
		заметку <a href="/читальня/${какой.путь}">${какой.название}</a>
	{{/if}}
{{else что === 'загрузка' }}
	{{if чего === 'картинки'}}
		<div class="picture_uploaded">
			<a href="/люди/${пользователь['адресное имя']}">${пользователь.имя}</a>
			{{if пользователь.пол === 'женский'}} загрузила {{else}} загрузил {{/if}}
			картинку <br/>
			<a href="/люди/${пользователь['адресное имя']}/картинки/${какой.альбом.id}/${какой.id}">
				<img src="/загруженное/люди/${пользователь['адресное имя']}/картинки/${какой.альбом.id}/иконки/${какой.id}.jpg"/>
			</a>
		</div>
	{{/if}}
{{else что === 'добавление' }}
	{{if чего === 'видеозаписи'}}
		<div class="video_uploaded">
			<a href="/люди/${пользователь['адресное имя']}">${пользователь.имя}</a>
			{{if пользователь.пол === 'женский'}} добавила {{else}} добавил {{/if}}
			видеозапись <br/>
			<a href="/люди/${пользователь['адресное имя']}/картинки/${какой.альбом.id}/${какой.id}">
				{{if какой.источник == 'vimeo.com'}}
					<img class="vimeo_video_picture video" vimeo_video_id="${какой.внешний_id}"/>
				{{else какой.источник == 'youtube.com'}}
					<img class="youtube_video_picture video" youtube_video_id="${какой.внешний_id}"/>
				{{/if}}
			</a>
		</div>
	{{/if}}
{{/if}}

<span class="when intelligent_date" date="${когда.getTime()}">${неточное_время(когда)}</span>