@import "/облик/вспомогательный.less";
@import "/облик/css3.less";

#page_content_block
{
	[type=loading], [type=error]
	{
		text-align: center;
		margin-bottom: 50px;
		margin-top: 250px;
	}
	
	[type=ok]
	{
		text-align: center;
	}
}

#content
{
	padding-bottom: 100px;
	margin-top: 60px;
	
	.main_content
	{
		margin-left: 80px;
		margin-right: 80px;
	
		.breadcrumbs_container
		{
			margin-left: 0;
			margin-right: 0;
			margin-bottom: 30px;
		}
		
		.the_books
		{
			text-align: center;
		}

		.add_book_container
		{
			margin-bottom: 30px;
			
			height: 60px;
			
			.add_book
			{
			}
		}
	}
}

.book_info
{
	position: absolute;
	z-index: 2;
		
	.info
	{
		line-height: 43px;
		font-size: 30px;
		
		text-align: center;
		
		.author, .title
		{
			&::selection
			{
				color: black;
				background-color: white;
				text-shadow: white 1px 1px 4px;
			}		
		}
		
		.author
		{
			display: block;
		}
		
		.title
		{
			&:before
			{
				content: '«';
			}
			
			&:after
			{
				content: '»';
			}
		}
	}
}

.bookshelf
{
	display: inline-block;
	font-size: 0;
	
	.beautiful_shadow_4(0px, 10px, 5px, 14px, 26px, 42px, 0.20);
	
	.middle
	{
		position: relative;
	}
	
	.top_border, .bottom_border
	{
		background-image: url('/картинки/книжный шкаф/пологая доска.png');
		height: 13px;
	}

	.left_border, .right_border
	{
		background-image: url('/картинки/книжный шкаф/отвесная доска.png');
		width: 13px;
		height: 100%;
		position: absolute;
	}
	
	.inner
	{
		margin-left: 13px;
		margin-right: 13px;
	}
	
	.inner, .left_border, .right_border
	{
		display: inline-block;
	}
	
	.right_border
	{
		right: 0;
	}
	
	.shelf
	{
		white-space: nowrap;
		position: relative;
		
		.left, .center, .right
		{
			height: 180px;
			display: inline-block;
		}
		
		.left, .right
		{
			width: 320px;
			background-image: url('/картинки/книжный шкаф/левая сторона полки.png');
		}
		
		.right
		{
			.scale(-1, 1);
		}
		
		.center
		{
			width: 319px;
			background-image: url('/картинки/книжный шкаф/середина полки.png');
		}
		
		.books
		{
			position: absolute;
			bottom: 6px;
			
			padding-left: 20px;
			padding-right: 20px;
			
			white-space: nowrap;
			box-sizing: border-box;
			
			width: 100%;
			text-align: center;	
			
			.book_place
			{
				display: inline-block;
				position: relative;
				
				width: 152px;
				text-align: center;
			
				.book
				{
					display: inline-block;
					position: relative;
					
					> a
					{
						display: block;
					}
						
					.icon
					{
						position: relative;
						z-index: 1;
						bottom: 0;
					
						.shadow(0px, 0px, 14px, 1.0);
					}
					
					.author, .title
					{
						white-space: normal;
					
						position: absolute;
						z-index: 2;
						
						text-align: center;
						
						overflow: hidden;
					}
					
					.author
					{
						width: 70px;
						height: 16px;
						
						bottom: 22px;
						left: 18px;
						
						font-family: DINPro;
						
						> *
						{
							margin: auto;
						}
					}
					
					.title
					{
						width: 63px;
						height: 42px;
						
						top: 34px;
						left: 22px;
						
						font-family: Times New Roman;
						
						> *
						{
							white-space: normal;
						}
					}
					
					&.no_icon
					{
						.icon
						{
							width: 100px;
							height: 150px;
							
							background-image: url('/картинки/книжный шкаф/книга без обложки.png');
						}
					}
					
					.bottom_shadow
					{
						background-image: url('/картинки/книжный шкаф/тень от книги на подставке.png');
						height: 10px;
	
						width: 110%;
						left: -5%;
						
						background-size: 100% 10px;
						
						opacity: 0.5;
						
						position: absolute;
						bottom: -4px;
						z-index: 0;
					}
				}
			}
		}
	}
	
	.shelf_divider
	{
		white-space: nowrap;
		
		.left, .center, .right
		{
			height: 13px;
			display: inline-block;
		}
		
		.left, .right
		{
			width: 320px;
			background-image: url('/картинки/книжный шкаф/левый торец полки.png');
		}
		
		.right
		{
			.scale(-1, 1);
		}
		
		.center
		{
			width: 319px;
			background-image: url('/картинки/книжный шкаф/торец полки.png');
		}
	}
}

body[mode="правка"] .book
{
	/* cursor: pointer !important; */
}