@import "/облик/вспомогательный.less";

.main_content
{
	margin-top: 60px;
	margin-bottom: 60px;
	
	margin-left: 80px;
	margin-right: 80px;
	
	> .breadcrumbs_container
	{
		margin: 0;
	}
	
	> h3
	{
		color: #7f7f7f;
		margin-bottom: 60px;
	}
	
	#talks
	{
		margin-top: 60px;
		
		list-style-type: none;
		padding: 0;
	
		> li
		{
			position: relative;
			
			> .unsubscribe
			{
				position: absolute;
				left: -80px;
				top: -8px;
				
				width: 80px;
				height: 64px;
				
				.css_transition(100ms);
				
				> .button
				{
					top: -23px;
					left: 19px;
				}
				
				> button
				{
					background-image: url('/картинки/кнопки/отписаться.png');
					width: 43px;
					height: 43px;
				}
			}
			
			> a.small_avatar
			{
				display: inline-block;
				vertical-align: bottom;
			}
			
			> a.discussion
			{
				display: inline-block;
				margin-bottom: 12px;
				margin-left: 8px;
			}
			
			margin-bottom: 8px;
		}
	}
}