.main_content
{
	margin-top: 60px;
	margin-bottom: 60px;
	
	margin-left: 80px;
	margin-right: 80px;
	
	> .breadcrumbs_container
	{
		margin: 0;
	}
	
	> h3
	{
		color: #7f7f7f;
		margin-bottom: 60px;
	}
	
	#talks
	{
		margin-top: 60px;
		
		list-style-type: none;
		padding: 0;
	
		> li
		{
			> a.small_avatar
			{
				display: inline-block;
				vertical-align: bottom;
			}
			
			> a.discussion
			{
				display: inline-block;
				margin-bottom: 12px;
				margin-left: 8px;
			}
			
			margin-bottom: 8px;
		}
	}
}