@import "/облик/вспомогательный.less";
@import "/облик/author_content_date.less";

#content
{
	margin-top: 60px;
	margin-bottom: 60px;

	.main_content
	{
		> .empty
		{
			margin-top: 100px;
		}
		
		#discussion
		{
			margin-top: 40px;
			
			.author_content_date
			{
				> li:nth-child(odd)
				{
					background-color: #f5ffee;
				}
			}
		}
	}
}