@import "/облик/вспомогательный.less";

@article_side_padding: 80px;

#content.article
{
	margin-top: 60px;
	margin-bottom: 60px;
	
	article
	{
		padding-left: @article_side_padding;
		padding-right: @article_side_padding;
		
		font-family: @textual_font;
	
		font-size: @textual_font_size;
		line-height: @textual_line_height;
		
		h1
		{
		}
	}
}

#article_edit_mode_actions
{
}

#article_edit_mode_actions, #article_edit_mode_actions_placeholder
{
	height: 66px;
	overflow: hidden;
}

.visual_editor_tools_container
{
	/* margin-top: 30px; */
}

.delete_article, .move_article
{
	text-align: center;
}

.move_article
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.delete_article
{
	margin-bottom: 30px;
}

.move_article_window
{
	form
	{
		input[name="where"]
		{
			width: 660px !important;
		}
	}
}