@import "/облик/вспомогательный.less";

@article_side_padding: 80px;

.visual_editor_tools_container
{
	margin-left: -@article_side_padding;
	margin-right: -@article_side_padding;

	min-height: 2 * @visual_editor_tools_panel_height;
	/* max-height: 2 * @visual_editor_tools_panel_height; */
	
	overflow: hidden;
	
	.visual_editor_tools
	{
		position: absolute;
	}
}

#content.article
{
	padding-left: @article_side_padding;
	padding-right: @article_side_padding;
	
	padding-top: 40px;
	padding-bottom: 40px;
	
	article
	{
		font-family: @textual_font;
	
		font-size: @textual_font_size;
		line-height: @textual_line_height;
	}
}

#article_edit_mode_actions
{
	display: none;

	width: 100%;
	
	background-color: #d2d2d2;
	
	position: fixed;
	bottom: 0;
	left: 0;
	
	overflow: hidden;
	padding-top: 8px;
	
	text-align: center;
	
	.cancel, .done
	{
		display: inline-block;
	}
	
	.cancel
	{
		margin-left: 50px;
	}
}

#article_edit_mode_actions, #article_edit_mode_actions_placeholder
{
	height: 66px;
	overflow: hidden;
}

.visual_editor_tools_container
{
	margin-top: 30px;
}