@import "/облик/вспомогательный.less";
@import "/облик/css3.less";

#page_content_block
{
	[type=loading], [type=error]
	{
		text-align: center;
		margin-bottom: 50px;
		margin-top: 250px;
	}
	
	[type=ok]
	{
		text-align: center;
		margin-bottom: 50px;
		margin-top: 250px;
	}
}

#content
{
	text-align: center;
	margin-bottom: 50px;
	margin-top: 100px;
}

.bookshelf
{
	display: inline-block;
	font-size: 0;
	
	.shadow(0px, 10px, 42px, 0.5);
	
	.middle
	{
		position: relative;
	}
	
	.top_border, .bottom_border
	{
		background-image: url('/картинки/книжный шкаф/пологая доска.png');
		height: 13px;
	}

	.left_border, .right_border
	{
		background-image: url('/картинки/книжный шкаф/отвесная доска.png');
		width: 13px;
		height: 100%;
		position: absolute;
	}
	
	.inner
	{
		margin-left: 13px;
		margin-right: 13px;
	}
	
	.inner, .left_border, .right_border
	{
		display: inline-block;
	}
	
	.right_border
	{
		right: 0;
	}
	
	.shelf
	{
		white-space: nowrap;
		position: relative;
		
		.left, .center, .right
		{
			height: 161px;
			display: inline-block;
		}
		
		.left, .right
		{
			width: 320px;
			background-image: url('/картинки/книжный шкаф/левая сторона полки.png');
		}
		
		.right
		{
			.scale(-1, 1);
		}
		
		.center
		{
			width: 319px;
			background-image: url('/картинки/книжный шкаф/середина полки.png');
		}
		
		.books
		{
			position: absolute;
			bottom: 5px;
			
			padding-left: 20px;
			padding-right: 20px;
			
			white-space: nowrap;
			
			.book
			{
				display: inline-block;
				position: relative;
								
				height: 140px;
				width: 88px;
					
				.icon
				{
					height: 140px;
					width: 88px;
					
					position: absolute;
					z-index: 1;
				
					background-image: url('/загруженное/книги/обложки/фритьоф капра «скрытые связи»1.jpg');
					.shadow(0px, 0px, 14px, 1.0);
				}
			
				margin-left: 25px;
				margin-right: 25px;
				
				.bottom_shadow
				{
					background-image: url('/картинки/книжный шкаф/тень от книги на подставке.png');
					height: 10px;

					width: 110%;
					left: -5%;
					
					background-size: 100% 10px;
					
					opacity: 0.5;
					
					position: absolute;
					bottom: -4px;
					z-index: 0;
				}
			}
		}
	}
	
	.shelf_divider
	{
		white-space: nowrap;
		
		.left, .center, .right
		{
			height: 13px;
			display: inline-block;
		}
		
		.left, .right
		{
			width: 320px;
			background-image: url('/картинки/книжный шкаф/левый торец полки.png');
		}
		
		.right
		{
			.scale(-1, 1);
		}
		
		.center
		{
			width: 319px;
			background-image: url('/картинки/книжный шкаф/торец полки.png');
		}
	}
}