@import "/облик/вспомогательный.less";

#page_content_block
{
	[type=loading], [type=error]
	{
		text-align: center;
		margin-bottom: 50px;
		margin-top: 250px;
	}
	
	[type=ok]
	{
		text-align: center;
		margin-bottom: 50px;
		margin-top: 250px;
	}
}

#content
{
	text-align: center;
	margin-bottom: 50px;
	margin-top: 250px;
}