#concept
{
	width: 400px;
	height: 321px;

	margin-left: auto;
	margin-right: auto;		

	margin-top: 100px;

	background-image: url('/картинки/общество.png');
	background-repeat: no-repeat;
}

#join_button
{
	width: 345px;
	height: 59px;
	
	background-image: url('/картинки/на страницах/welcome/join button.png');
	
	cursor: pointer;
}

#join_dialog
{
	.main_content
	{
		width: 790px;
		height: 160px;
	}
	
	.slider
	{
		
		/* .css_transition() */
	}

	input[type="text"]
	{
		width: 614px;
		display: block;
		margin-top: 10px;
	}

	.name
	{
		.icon
		{
			float: left;
			
			width: 128px;
			height: 128px;
			
			padding-right: 20px;
			
			background-image: url('/картинки/на страницах/welcome/dialog/join/Guy Fawkes mask.png');
			background-repeat: no-repeat;
		}

		form
		{
			display: inline-block;
			vertical-align: top;
			
			font-size: 1em;
			padding-top: 10px;
		}
	}
	
	.origin
	{
		.icon
		{
			float: left;
			
			width: 128px;
			height: 128px;
			
			padding-right: 20px;
			
			background-image: url('/картинки/на страницах/welcome/dialog/join/earth.png');
			background-repeat: no-repeat;
		}
		
		form
		{
			display: inline-block;
			vertical-align: top;
			
			padding-top: 5px;
		}	
	}
	
	.gender
	{
		label
		{
			margin-left: 15px;
		}

		.chooser 
		{
			text-align: center;
			
			[name="male"]
			{
				display: inline-block;

				width: 64px;
				height: 64px;

				margin-right: 40px;
			 
				background-image: url('/картинки/на страницах/welcome/dialog/join/gender/male.png');
				background-repeat: no-repeat;
			}

			[name="female"]
			{
				display: inline-block;

				width: 64px;
				height: 64px;

				background-image: url('/картинки/на страницах/welcome/dialog/join/gender/female.png');
				background-repeat: no-repeat;
			}
		}
	}

	.mail
	{
		.icon
		{
			float: left;
			
			width: 128px;
			height: 128px;

			background-image: url('/картинки/на страницах/welcome/dialog/join/mail.png');
			background-repeat: no-repeat;
			
			padding-right: 34px;
		}
		
		form
		{
			display: inline-block;
			vertical-align: top;
			
			padding-top: 5px;
		}
	}

	.password
	{
		.icon
		{
			float: left;
			
			width: 128px;
			height: 128px;

			background-image: url('/картинки/на страницах/welcome/dialog/join/ключи.png');
			background-repeat: no-repeat;
			
			padding-right: 20px;
		}
		
		form
		{
			display: inline-block;
			vertical-align: top;
			
			padding-top: 5px;
		}
	}
		
	.buttons
	{
		padding-right: 30px;
		
		.left
		{
			float: right;
		}
		
		.right
		{
			float: right;
		}
	}
}

.join_button_block
{
	margin-top: 50px;	
	
	text-align: center;
	
	display: none;
}

.join_button_block [type=loading], .join_button_block [type=error]
{
	margin-top: 10px;
}