@import "/облик/вспомогательный.less";

#content.help
{
	.help_section
	{
		ul
		{
			list-style: none;
			padding: 0;
			
			li
			{
				.question
				{
					cursor: pointer;
					color: @link_color;
				}
				
				.question:after
				{
					content: '?'
				}
				
				.answer
				{
					display: none;
					position: relative;
					margin-left: 40px;
					margin-bottom: 40px;
					margin-top: 10px;
				}
			}
		}
	}
}