@import "/облик/вспомогательный.less";

#content
{
	p
	{
		text-indent: @paragraph_indent;
        }
        
        margin-bottom: 100px;
        padding-left: 40px;
        
        h1
        {
                margin-top: 90px;
                margin-bottom: 60px;
        }
}