{{if Configuration.Invites}}
{{else}}
	<!--<script>go_to('/')</script>-->
{{/if}}

<section class="help registration_page">			
	<div class="textual_content">
		<h1>Как у нас прописаться?</h1>

		<p>Отправьте {{if Configuration.Invites.Mail}} {{else}} нам {{/if}} короткий рассказ о себе{{if Configuration.Invites.Mail}} на <a href="mailto:sobranie.net@gmail.com">наш почтовый ящик</a>{{/if}}.</p>
		<p>Можете написать, например, кто вы, и чем занимаетесь, как нашли нашу сеть, почему хотите в неё вступить, и как собираетесь участвовать в её жизни.</p>
		<p>Если вас пригласил сюда кто-то из членов сети, то можете сослаться на него как на лицо, готовое дать «рекомендацию».</p>	
	</div>
</section>