@import "/облик/вспомогательный.less";

.center_business_card
{
	text-align: center;
}

.business_card
{
	position: relative;

	font-family: Tahoma;
	
	text-align: left;
	
	display: block;
	
	min-width: 650px;
	max-width: 650px;
	overflow: hidden;
	
	margin-left: auto;
	margin-right: auto;
	
	margin-top: 15px;
	margin-bottom: 15px;
	
	padding-top: 40px;
	padding-bottom: 40px;

	padding-left: 60px;
	padding-right: 60px;
	
	.rounded_corners(10px);
	
	background-color: #fafafa;
	background: -webkit-gradient(linear, center top, center bottom, from(#fcfcfc), to(#ededed));
	background-image: -moz-linear-gradient(top, #fcfcfc, #ededed);
	
	.beautiful_shadow(0px, 4px, 20px, 8px, 12px, 8px, 0px, 0.1);
	
	section
	{
		display: inline-block;
		vertical-align: top;
	}

	.personal_info
	{
		.default_picture
		{
			/*background-image: url('/картинки/avatar/male.png');*/
			background-repeat: no-repeat;
			
			width: 120px;
			height: 120px;
			
			margin-top: 30px;
			margin-right: 50px;
			
			.beautiful_shadow(0px, 1px, 3px, 3px, 5px, 3px, 7px, 0.12);
		}

		.default_picture, .real_picture
		{
			background-repeat: no-repeat;
			
			width: 120px;
			height: 120px;
		}
		
		.default_picture
		{
			position: relative;
			
			background-image: url('/картинки/business card/картинка по умолчанию.jpg');
			
			margin-top: 30px;
			margin-left: 15px;
			
			.beautiful_shadow(0px, 1px, 3px, 3px, 5px, 3px, 7px, 0.12);
		}
				
		.upload_new_picture
		{
			position: absolute;
			visibility: hidden;
		}

		.name
		{
			font-size: 30px;
			color: #e81f95;
			
			a
			{
				border: 0;
				color: inherit;
			}
		}

		.description
		{
			margin-top: -8px;
			margin-left: 12px;
			
			font-size: 24px;
			color: #989898;
	
			cursor: default;
		}

		/*
		.gender
		{
			position: absolute;

			left: 0;
			top: 0;
			
			width: 100%;
			height: 100%;
			
			min-width: 17px;
			min-height: 22px;
			
			margin-top: 17px;
			margin-left: -15px;
			
			background-image: url('../картинки/business card/gender/male.png');
			background-position: top right;
			background-repeat: no-repeat;
			background-color: transparent;	
		}
		*/

		.gender_male, .gender_female
		{
			width: 17px;
			height: 22px;
			
			background-position: top right;
			background-repeat: no-repeat;
			background-color: transparent;	
		}

		.gender_male
		{
			background-image: url('/картинки/business card/gender/male.png');
		}

		.gender_female
		{
			background-image: url('/картинки/business card/gender/female.png');
		}
	}
	
	.info
	{
		position: absolute;
		left: 180px;
	
		margin-top: 100px;
		margin-left: 100px;

		.type
		{
			width: 100%;
			text-align: right;
			
			font-size: 16px;
			color: #7d7b7b;
			
			cursor: default;
		}
		
		.spacer
		{
			height: 12px;
		}

		.value
		{
			width: 100%;
			text-align: right;
			
			margin-top: -4px;
			
			font-size: 20px;
			color: #e81f95;
	
			cursor: default;
		}
	}

	.miscellaneous
	{
		position: absolute;
		left: 540px;
		
		.small_logo_placeholder
		{
			min-width: 157px;
			min-height: 35px;
		}
		
		.small_logo
		{
			display: block;
			border: 0;
			
			position: absolute;

			right: 30px;
			bottom: 20px;
			
			min-width: 157px;
			min-height: 35px;
			
			background-image: url('/картинки/business card/small logo.png');
			background-position: bottom right;
			background-repeat: no-repeat;
			background-color: transparent;
		}

		.mood
		{
			margin-top: 100px;
		
			margin-left: auto;
			margin-right: auto;
			
			width: 88px;
			height: 88px;
			
			background-image: url('/картинки/business card/mood.png');
			background-repeat: no-repeat;
			background-color: transparent;
		}
	}
}