.rounded_corners (@radius: 5px) 
{
	border-radius: @radius;
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
}

.shadow (@left: 0px, @top: 0px, @radius: 5px, @opacity: 0.3)
{
	@value: @left @top @radius rgba(0, 0, 0, @opacity);

	-webkit-box-shadow: @value;
	-moz-box-shadow: @value;
	-o-box-shadow: @value;
	box-shadow: @value;
}