@import "/облик/вспомогательный.less";

.message()
{
	display: inline-block;
			
	margin-top: 20px;
	margin-right: 20px;
	
	padding-top: 15px;
	padding-bottom: 15px;
	
	padding-left: 30px;
	padding-right: 30px;
	
	opacity: 0.85;
	
	border-style: solid;
	border-width: 2px;
	
	.beautiful_shadow(3px, 5px, 5px, 7px, 10px, 14px, 20px, 0.12);
	.rounded_corners(10px);
	
	cursor: default;
}

.message_container
{
	position: fixed;
	right: 0;
	top: 0;

	.info
	{
		.message();
		
		color: #303030;
		text-shadow: 1px 1px 0px #ffffff;
		
		border-color: #7f7f7f;
		
		.top_to_bottom_gradient(#eef2f4, #d6dde0);
	}

	.error
	{
		.message();
		
		color: #faefef;
		text-shadow: 1px 1px 0px #000000;
		
		border-color: #400500;
		
		.top_to_bottom_gradient(#a42e2e, #742b2b);
	}

	.warning
	{
		.message();
		
		color: #281b00;
		text-shadow: 1px 1px 0px #f3e69f;
		
		border-color: #918658;
		
		.top_to_bottom_gradient(#f7dc72, #d6b52f);
	}
}